# Fuel Economy Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
# load EPA fuel economy dataset downloaded from Kaggle
df = pd.read_csv('./data/database.csv')

C:\Users\chloe\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (7,16,62,64,65,67,68,78) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
makes = df['Make'].unique()

In [18]:
df.describe()

,Vehicle ID,Year,Engine Index,Engine Cylinders,Engine Displacement,City MPG (FT1),Unrounded City MPG (FT1),City MPG (FT2),Unrounded City MPG (FT2),City Gasoline Consumption (CD),...,Hours to Charge (240V),Hours to Charge (AC 240V),Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),City Range (FT2),Highway Range (FT2)
count,38113.000000,38113.000000,38113.000000,37977.000000,37979.000000,38113.000000,38113.000000,38113.000000,38113.000000,38113.000000,...,38113.000000,38113.000000,38113.000000,38113.000000,38113.000000,38113.000000,38113.000000,38113.000000,38113.000000,38113.000000
mean,19170.638496,2000.194527,8799.389001,5.736656,3.317583,17.981109,4.606426,0.546218,0.386633,0.000432,...,0.027635,0.005549,0.082203,0.080891,0.081311,0.469708,0.426249,0.419197,0.043973,0.040051
std,11134.878665,10.464573,17781.058490,1.752254,1.361995,6.849728,10.113963,4.109282,3.861179,0.039976,...,0.473685,0.161014,2.156682,2.052187,2.097794,9.352069,9.104702,9.315914,1.311628,1.169281
min,1.000000,1984.000000,0.000000,2.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9529.000000,1991.000000,0.000000,4.000000,2.200000,15.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,19058.000000,2001.000000,212.000000,6.000000,3.000000,17.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,28779.000000,2009.000000,4451.000000,6.000000,4.300000,20.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,38542.000000,2017.000000,69102.000000,16.000000,8.400000,150.000000,150.000000,145.000000,145.083500,5.350000,...,12.000000,7.000000,97.000000,81.000000,88.000000,315.000000,305.900000,346.900000,103.030000,90.550000

In [11]:
makes

array(['Alfa Romeo', 'AM General', 'American Motors Corporation',
       'Aston Martin', 'Audi', 'Avanti Motor Corporation', 'Bertone',
       'Bill Dovell Motor Car Company', 'Bitter Gmbh and Co. Kg', 'BMW',
       'Buick', 'Cadillac', 'Chevrolet', 'Chrysler', 'Dodge', 'Ford',
       'GMC', 'Grumman Olson', 'Honda', 'Import Foreign Auto Sales Inc',
       'Isuzu', 'Jaguar', 'Jeep', 'Kenyon Corporation Of America',
       'Lamborghini', 'Lincoln', 'Lotus', 'Maserati', 'Mazda',
       'Mercedes-Benz', 'Mercury', 'Mitsubishi', 'Nissan', 'Oldsmobile',
       'Peugeot', 'Pininfarina', 'Plymouth', 'Pontiac', 'Porsche',
       'Renault', 'Rolls-Royce', 'S and S Coach Company  E.p. Dutton',
       'Saab', 'Subaru', 'Superior Coaches Div E.p. Dutton', 'Suzuki',
       'Toyota', 'Volkswagen', 'Volvo', 'E. P. Dutton, Inc.', 'Ferrari',
       'Merkur', 'TVR Engineering Ltd', 'Acura', 'Autokraft Limited',
       'Hyundai', 'Lambda Control Systems', 'London Coach Co Inc',
       'Panther Car Company Limited', 'Texas Coach Company',
       'Vixen Motor Company', 'Volga Associated Automobile', 'Yugo',
       'ASC Incorporated', 'CCC Engineering', 'CX Automotive',
       'Excalibur Autos', 'Land Rover', 'Mcevoy Motors', 'Red Shift Ltd.',
       'Ruf Automobile Gmbh', 'Sterling', 'Aurora Cars Ltd', 'Dacia',
       'Daihatsu', 'Eagle', 'Grumman Allied Industries',
       'JBA Motorcars, Inc.', 'Environmental Rsch and Devp Corp',
       'Evans Automobiles', 'General Motors', 'Geo',
       'Laforza Automobile Inc', 'Saleen', 'Consulier Industries Inc',
       'Infiniti', 'Lexus', 'Goldacre', 'Import Trade Services',
       'J.K. Motors', 'PAS, Inc', 'Saturn', 'Wallace Environmental',
       'Isis Imports Ltd', 'PAS Inc - GMC', 'Vector', 'Kia', 'Panos',
       'Dabryan Coach Builders Inc', 'Federal Coach',
       'Panoz Auto-Development', 'Bentley', 'Daewoo',
       'Quantum Technologies', 'Qvale', 'Roush Performance', 'MINI',
       'Morgan', 'BMW Alpina', 'London Taxi', 'Maybach', 'Scion',
       'Spyker', 'Bugatti', 'Hummer', 'Saleen Performance', 'Shelby',
       'smart', 'Tecstar, LP', 'Mahindra', 'VPG', 'Azure Dynamics', 'BYD',
       'CODA Automotive', 'Fiat', 'Fisker', 'McLaren Automotive', 'Ram',
       'Tesla', 'SRT', 'Mobility Ventures LLC', 'Pagani', 'Genesis'],
      dtype=object)

In [17]:
df[df.isnull().any(axis=1)]

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,...,Hours to Charge (AC 240V),Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),Range (FT2),City Range (FT2),Highway Range (FT2)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9001,(FFS),...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9005,(FFS) CA model,...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9002,(FFS),...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9006,(FFS) CA model,...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1830,(FFS),...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38108,37564,2017,Volvo,XC60 FWD,Small Sport Utility Vehicle 2WD,Front-Wheel Drive,Automatic (S8),NaN,90,SIDI,...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
38109,37547,2017,Volvo,XC90 AWD,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,52,SIDI,...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
38110,37548,2017,Volvo,XC90 AWD,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,53,SIDI,...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
38111,37703,2017,Volvo,XC90 AWD PHEV,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,54,SIDI; PHEV,...,0.0,29,32,30,0,0.0,0.0,14,13.84,13.3
38112,37687,2017,Volvo,XC90 FWD,Standard Sport Utility Vehicle 2WD,Front-Wheel Drive,Automatic (S8),NaN,50,SIDI,...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0

There are many null values in this dataset. I will examine the dataset column by column to see what reasonable values for the different nulls should be.

In [58]:
def print_nulls(df):
    for column in df.columns:
        print(f"{column} Nulls: {df[df[column].isnull()].shape[0]}")
        print(f"{column} Valids: {df[df[column].notnull()].shape[0]}")

def nulls_to_df(df):
    """Returns a dataframe with a count of null and valid entries for each column in the
    original dataset."""
    d = dict()
    for column in df.columns:
        l = []
        l.append(df[df[column].isnull()].shape[0])
        l.append(df[df[column].notnull()].shape[0])
        d[column] = l
    
    new_df = pd.DataFrame.from_dict(d, orient='index', columns=['Nulls', 'Valids'])
    return new_df

In [35]:
transmissions = df['Transmission Descriptor'].unique()
transmissions

array([nan, 'Creeper', 'SIL', 'Overdrive', 'Lockup', 'VLKUP', '2MODE',
       '2MODE 2LKUP', '3LKUP', '2LKUP', 'CLKUP', '2MODE 3LKUP',
       'fuel injection', 'SIL Creeper', 'DC/FW', 'Lockup A3',
       '2MODE CLKUP', 'EMS 2MODE CLKU', 'EMS', '3MODE VLKUP', '4MODE',
       '3MODE CLKUP', 'SIL CMODE', '2MODE VLKUP', 'EMS 2MODE CLKUP',
       'EMS 5MODE', 'EMS 2MODE', '2MODE DC/FW', 'Elec Overdrive',
       'Mech Overdrive', '3MODE', 'CMODE', 'EMS 3MODE', '2MODE CLKUP FW',
       '3MODE 2LKUP', 'VMODE CLKUP', 'EMS CLKUP', 'EMS CMODE CLKUP',
       'SIL CLKUP', 'CMODE CLKUP', 'VMODE', 'EMS 3MODE CLKUP',
       '4MODE CLKUP', '6MODE', 'SIL EMS', 'VMODE VLKUP', '6MODE CLKUP',
       'SIL 3MODE', 'LONG RATIO', 'CMODE VLKUP', 'SIL 3MODE CLKUP',
       '3MODE CLKUP FW', 'SIL 2MODE CLKUP'], dtype=object)

In [49]:
print_nulls(df)

Vehicle ID Nulls: 0
Vehicle ID Valids: 38113
Year Nulls: 0
Year Valids: 38113
Make Nulls: 0
Make Valids: 38113
Model Nulls: 0
Model Valids: 38113
Class Nulls: 0
Class Valids: 38113
Drive Nulls: 1189
Drive Valids: 36924
Transmission Nulls: 11
Transmission Valids: 38102
Transmission Descriptor Nulls: 23068
Transmission Descriptor Valids: 15045
Engine Index Nulls: 0
Engine Index Valids: 38113
Engine Descriptor Nulls: 15420
Engine Descriptor Valids: 22693
Engine Cylinders Nulls: 136
Engine Cylinders Valids: 37977
Engine Displacement Nulls: 134
Engine Displacement Valids: 37979
Turbocharger Nulls: 32874
Turbocharger Valids: 5239
Supercharger Nulls: 37420
Supercharger Valids: 693
Fuel Type Nulls: 0
Fuel Type Valids: 38113
Fuel Type 1 Nulls: 0
Fuel Type 1 Valids: 38113
Fuel Type 2 Nulls: 36675
Fuel Type 2 Valids: 1438
City MPG (FT1) Nulls: 0
City MPG (FT1) Valids: 38113
Unrounded City MPG (FT1) Nulls: 0
Unrounded City MPG (FT1) Valids: 38113
City MPG (FT2) Nulls: 0
City MPG (FT2) Valids: 38113
Unrounded City MPG (FT2) Nulls: 0
Unrounded City MPG (FT2) Valids: 38113
City Gasoline Consumption (CD) Nulls: 0
City Gasoline Consumption (CD) Valids: 38113
City Electricity Consumption Nulls: 0
City Electricity Consumption Valids: 38113
City Utility Factor Nulls: 0
City Utility Factor Valids: 38113
Highway MPG (FT1) Nulls: 0
Highway MPG (FT1) Valids: 38113
Unrounded Highway MPG (FT1) Nulls: 0
Unrounded Highway MPG (FT1) Valids: 38113
Highway MPG (FT2) Nulls: 0
Highway MPG (FT2) Valids: 38113
Unrounded Highway MPG (FT2) Nulls: 0
Unrounded Highway MPG (FT2) Valids: 38113
Highway Gasoline Consumption (CD) Nulls: 0
Highway Gasoline Consumption (CD) Valids: 38113
Highway Electricity Consumption Nulls: 0
Highway Electricity Consumption Valids: 38113
Highway Utility Factor Nulls: 0
Highway Utility Factor Valids: 38113
Unadjusted City MPG (FT1) Nulls: 0
Unadjusted City MPG (FT1) Valids: 38113
Unadjusted Highway MPG (FT1) Nulls: 0
Unadjusted Highway MPG (FT1) Valids: 38113
Unadjusted City MPG (FT2) Nulls: 0
Unadjusted City MPG (FT2) Valids: 38113
Unadjusted Highway MPG (FT2) Nulls: 0
Unadjusted Highway MPG (FT2) Valids: 38113
Combined MPG (FT1) Nulls: 0
Combined MPG (FT1) Valids: 38113
Unrounded Combined MPG (FT1) Nulls: 0
Unrounded Combined MPG (FT1) Valids: 38113
Combined MPG (FT2) Nulls: 0
Combined MPG (FT2) Valids: 38113
Unrounded Combined MPG (FT2) Nulls: 0
Unrounded Combined MPG (FT2) Valids: 38113
Combined Electricity Consumption Nulls: 0
Combined Electricity Consumption Valids: 38113
Combined Gasoline Consumption (CD) Nulls: 0
Combined Gasoline Consumption (CD) Valids: 38113
Combined Utility Factor Nulls: 0
Combined Utility Factor Valids: 38113
Annual Fuel Cost (FT1) Nulls: 0
Annual Fuel Cost (FT1) Valids: 38113
Annual Fuel Cost (FT2) Nulls: 0
Annual Fuel Cost (FT2) Valids: 38113
Gas Guzzler Tax Nulls: 35817
Gas Guzzler Tax Valids: 2296
Save or Spend (5 Year) Nulls: 0
Save or Spend (5 Year) Valids: 38113
Annual Consumption in Barrels (FT1) Nulls: 0
Annual Consumption in Barrels (FT1) Valids: 38113
Annual Consumption in Barrels (FT2) Nulls: 0
Annual Consumption in Barrels (FT2) Valids: 38113
Tailpipe CO2 (FT1) Nulls: 0
Tailpipe CO2 (FT1) Valids: 38113
Tailpipe CO2 in Grams/Mile (FT1) Nulls: 0
Tailpipe CO2 in Grams/Mile (FT1) Valids: 38113
Tailpipe CO2 (FT2) Nulls: 0
Tailpipe CO2 (FT2) Valids: 38113
Tailpipe CO2 in Grams/Mile (FT2) Nulls: 0
Tailpipe CO2 in Grams/Mile (FT2) Valids: 38113
Fuel Economy Score Nulls: 0
Fuel Economy Score Valids: 38113
GHG Score Nulls: 0
GHG Score Valids: 38113
GHG Score (Alt Fuel) Nulls: 0
GHG Score (Alt Fuel) Valids: 38113
My MPG Data Nulls: 0
My MPG Data Valids: 38113
2D Passenger Volume Nulls: 0
2D Passenger Volume Valids: 38113
2D Luggage Volume Nulls: 0
2D Luggage Volume Valids: 38113
4D Passenger Volume Nulls: 0
4D Passenger Volume Valids: 38113
4D Luggage Volume Nulls: 0
4D Luggage Volume Valids: 38113
Hatchback Passenger Volume Nulls: 0
Hatchback Passenger Volume Valids: 38113
Hatchback Luggage Volume Nulls: 0
Hatchback Luggage Volume Valids: 38113
Start Stop Technology Nulls: 31670
Start Stop Technology Valids: 6443
Alternative Fuel/Technology Nulls: 35066
Alternative Fuel/Technology Valids: 3047
Electric Motor Nulls: 37509
Electric Motor Valids: 604
Manufacturer Code Nulls: 30794
Manufacturer Code Valids: 7319
Gasoline/Electricity Blended (CD) Nulls: 0
Gasoline/Electricity Blended (CD) Valids: 38113
Vehicle Charger Nulls: 38065
Vehicle Charger Valids: 48
Alternate Charger Nulls: 38067
Alternate Charger Valids: 46
Hours to Charge (120V) Nulls: 0
Hours to Charge (120V) Valids: 38113
Hours to Charge (240V) Nulls: 0
Hours to Charge (240V) Valids: 38113
Hours to Charge (AC 240V) Nulls: 0
Hours to Charge (AC 240V) Valids: 38113
Composite City MPG Nulls: 0
Composite City MPG Valids: 38113
Composite Highway MPG Nulls: 0
Composite Highway MPG Valids: 38113
Composite Combined MPG Nulls: 0
Composite Combined MPG Valids: 38113
Range (FT1) Nulls: 0
Range (FT1) Valids: 38113
City Range (FT1) Nulls: 0
City Range (FT1) Valids: 38113
Highway Range (FT1) Nulls: 0
Highway Range (FT1) Valids: 38113
Range (FT2) Nulls: 36680
Range (FT2) Valids: 1433
City Range (FT2) Nulls: 0
City Range (FT2) Valids: 38113
Highway Range (FT2) Nulls: 0
Highway Range (FT2) Valids: 38113

In [64]:
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                 Nulls  Valids
Alternate Charger                38067      46
Vehicle Charger                  38065      48
Electric Motor                   37509     604
Supercharger                     37420     693
Range (FT2)                      36680    1433
...                                ...     ...
Unadjusted Highway MPG (FT1)         0   38113
Unadjusted City MPG (FT1)            0   38113
Highway Utility Factor               0   38113
Highway Electricity Consumption      0   38113
Highway Range (FT2)                  0   38113

[81 rows x 2 columns]

With 38,067 null values and only 46 valid values, **Alternate Charger** is in the worst shape, so I'll start with that. Based on the values in the column and on information found on the [Department of Energy's website](https://www.fueleconomy.gov/feg/ws/), this column seems to describe alternate chargers for electric vehicles. This does not apply to the vast majority of vehicles, so a reasonable value to substitute is "None".

In [65]:
df['Alternate Charger'].unique()

array([nan, '6.6 kW charger', 'dual charger', '80 amp dual charger',
       '3.6 kW charger'], dtype=object)

In [67]:
df['Alternate Charger'].fillna('None', inplace=True)
df['Alternate Charger'].unique()

array(['None', '6.6 kW charger', 'dual charger', '80 amp dual charger',
       '3.6 kW charger'], dtype=object)

In [69]:
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                 Nulls  Valids
Vehicle Charger                  38065      48
Electric Motor                   37509     604
Supercharger                     37420     693
Range (FT2)                      36680    1433
Fuel Type 2                      36675    1438
...                                ...     ...
Unadjusted Highway MPG (FT1)         0   38113
Unadjusted City MPG (FT1)            0   38113
Highway Utility Factor               0   38113
Highway Electricity Consumption      0   38113
Highway Range (FT2)                  0   38113

[81 rows x 2 columns]

I will clean the remaining columns similarly, relying on information from the US Department of Energy as well as column values to determine appropriate substitutions for nulls.

In [70]:
df['Vehicle Charger'].unique()

array([nan, '3.6 kW charger', 'single charger', 'standard charger',
       '6.6 kW charger', '7.2 kW charger'], dtype=object)

Vehicle charger also refers only to electric vehicles. Using the same logics as with Alternate Charger, I will subtitute these values with "None" also:

In [71]:
df['Vehicle Charger'].fillna('None', inplace=True)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                 Nulls  Valids
Electric Motor                   37509     604
Supercharger                     37420     693
Range (FT2)                      36680    1433
Fuel Type 2                      36675    1438
Gas Guzzler Tax                  35817    2296
...                                ...     ...
Unadjusted Highway MPG (FT1)         0   38113
Unadjusted City MPG (FT1)            0   38113
Highway Utility Factor               0   38113
Highway Electricity Consumption      0   38113
Highway Range (FT2)                  0   38113

[81 rows x 2 columns]

In [72]:
df['Electric Motor'].unique()

array([nan, '85 kW AC Induction', '49 kW DC Brushless',
       '56kW AC Induction', '67 KW AC  Induction', '67 KW AC',
       '102kW AC Induction', '49kW DC Brushless', '62 KW AC Induction',
       '50 KW DC', '67 KW AC Induction', '27 KW AC Induction',
       '24 KW AC Synchronous', '36V Ni-MH', '288V Ni-MH', '330V Ni-MH',
       '158V Ni-MH', '150 kW', '245V Ni-MH', '202V Ni-MH', '300V Ni-MH',
       '312V Ni-MH', '275V Ni-MH', '101V Ni-MH', '126V Li-Ion',
       '125 kW AC Induction', '111 kW', '270V Li-Ion', '80 kW DCPM',
       '30 kW DCPM', '52 kW AC Induction', '374V Li-Ion', '115V Li-Ion',
       '75 kW AC PMSM', '100 kW DCPM', '2 @ 150 kw (300 kw)',
       '107 kW AC Induction', '144V Li-Ion', '346V Li-Ion', '49 kW DCPM',
       '260 kW AC Induction', '144V Ni-MH', '18 kW',
       '115 kW AC Induction', '266V Li-Ion', '82 kW ACIPM', '68 kW',
       '280V Li-Ion', '107 kW AC PMSM', '92 kW DCPM', '55 kW DCPM',
       '225 kW AC Induction', '270 kW AC Induction', '220V Li-Ion',
       '260V Li-Ion', '125kW', '96kW', '126 kW', '104 kW AC Induction',
       'Two 480V Li-Ion', '259V Li-Ion', '124 kW', '132kW',
       '132 kW AC Induction', '70 kW',
       '225 kW AC Induction (60 kW-hr battery pack)',
       '270 kW AC Induction (85 kW-hr battery pack)',
       '180 and 350 kW AC Induction (85 kW-hr battery pack)',
       '126 kW 3-Phase AC', '104 kW ACPM', '111 kW 3-Phase AC',
       '82 kW AC Induction', '68 kW DCPM', '81 kW AC PMSM',
       '132 kW AC Synchronous', '85 kW DCPM',
       '95 kW and 116 kW DC Brushless', '70 kW DC Brushless',
       '285 kW AC Induction (90 kW-hr battery pack)',
       '140 (front) 140 (rear) (70 kW-hr battery pack)',
       '140 (front) 140 (rear) (85 kW-hr battery pack)',
       '140 (front) 140 (rear) (90 kW-hr battery pack)',
       '164 (front) 350 (rear) (85 kW-hr battery pack)',
       '164 (front) 350 (rear) (90 kW-hr battery pack)',
       '18 kW AC Induction', '85 kW AC PMSM', '65kW',
       '83 kW AC Induction', '55 and 174kW 3-Phase AC', '300V Li-Ion',
       '86V Li-Ion', '105 kW ACPM', '48 and 87 kW 3-Phase AC',
       '50 kW IPMSM', '60 kW DCPM',
       '285 kW AC Induction (60 kW-hr battery pack)',
       '285 kW AC Induction (70 kW-hr battery pack)',
       '285 kW AC Induction (75 kW-hr battery pack)',
       '285 kW AC Induction (85 kW-hr battery pack)',
       '193 (front) 193 (rear) (60 kW-hr battery pack)',
       '193 (front) 193 (rear) (70 kW-hr battery pack)',
       '193 (front) 193 (rear) (75 kW-hr battery pack)',
       '193 (front) 193 (rear) (85 kW-hr battery pack)',
       '193 (front) 193 (rear) (90 kW-hr battery pack)',
       '193 (front) 375 (rear) (100 kW-hr battery pack)',
       '193 (front) 375 (rear) (85 kW-hr battery pack)',
       '193 (front) 375 (rear) (90 kW-hr battery pack)', '207V Li-Ion',
       '34 and 65kW DCPM', '83kW DCPM', '125kW AC Induction',
       '96kW AC Induction', '150 kW ACPM', '65 and 102 kW AC Induction',
       'Two 444V Li-Ion', '240V Li-Ion', '88 kW AC PMSM', '50kW IPMSM',
       '202V Li-Ion', '16 and 37 kW AC Induction'], dtype=object)

The **Electric Motor** column describes the kilowatt hours for the vehicle's electric motor. This doesn't apply to most vehicles, so substituting "None" is appropriate.

In [73]:
df['Electric Motor'].fillna('None', inplace=True)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                 Nulls  Valids
Supercharger                     37420     693
Range (FT2)                      36680    1433
Fuel Type 2                      36675    1438
Gas Guzzler Tax                  35817    2296
Alternative Fuel/Technology      35066    3047
...                                ...     ...
Unadjusted Highway MPG (FT1)         0   38113
Unadjusted City MPG (FT1)            0   38113
Highway Utility Factor               0   38113
Highway Electricity Consumption      0   38113
Highway Range (FT2)                  0   38113

[81 rows x 2 columns]

In [74]:
df['Supercharger'].unique()

array([nan, 'S'], dtype=object)

The **Supercharger** column is different from what we've seen so far. It contains an "S" if the vehicle is supercharged and nothing otherwise. I think substituting "NS" (denoting "not supercharged") is a reasonable thing to do here:

In [75]:
df['Supercharger'].fillna('NS', inplace=True)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                   Nulls  Valids
Range (FT2)                        36680    1433
Fuel Type 2                        36675    1438
Gas Guzzler Tax                    35817    2296
Alternative Fuel/Technology        35066    3047
Turbocharger                       32874    5239
...                                  ...     ...
Unadjusted City MPG (FT1)              0   38113
Highway Utility Factor                 0   38113
Highway Electricity Consumption        0   38113
Highway Gasoline Consumption (CD)      0   38113
Highway Range (FT2)                    0   38113

[81 rows x 2 columns]

In [77]:
df['Range (FT2)'].unique()

array([nan, '360', '300', '230/270/270', '240/290/290', '220/270/260',
       '240/290/280', '290', '230/270', '240/280', '220/260', '140',
       '310', '280', '230', '210', '260', '120', '250/220/320', '270',
       '110', '290/340', '320', '310/390', '280/380', '130', '180',
       '270/240/340', '170', '310-540', '310/460', '310/540', '310/330',
       '310/480', '310/440', '330', '340-400', '370', '340', '340-440',
       '310-410', '240', '340-350', '290/410', '310/340', '250/370',
       '230/350', '240-420', '250', '310/320', '280/370', '350-370',
       '280-350', '310-420', '310-340', '330-450', '300-420', '310/410',
       '380', '410', '350', '310/420', '330/450', '220', '260/320',
       '310/370', '214', '236', '279', '312', '333', '307', '304', '383',
       '353', '413', '295', '294', '344', '338', '277', '308', '264',
       '303', '307/420', '337/451', '347', '286/382', '329', '35', '262',
       '292', '219', '354', '265', '366', '331', '245', '282', '337',
       '69', '361', '314', '339', '248', '278', '415', '328', '345',
       '238', '273', '298', '318', '272', '283', '269', '325', '346',
       '287', '288/351', '33', '362', '337/406', '308/366', '361/501',
       '337/467', '339/469', '314/434', '271', '266', '296', '368', '302',
       '11', '254', '267', '217', '336', '38', '291', '20', '258', '256',
       '306', '234', '274', '334', '286/352', '364/448', '338/416', '317',
       '72', '15', '37', '361/479', '364/476', '339/441', '335/445',
       '286', '365', '332', '336/402', '308/368', '364/504', '338/468',
       '312/432', '285', '13', '311', '351', '305', '19', '16', '409',
       '407', '444', '358', '316', '253', '284', '369', '309/313',
       '357/362', '333/337', '301', '241', '341', '281', '14', '12',
       '290/418', '17', '40', '36', '338/442', '400', '53', '313/465',
       '289/430', '276', '27', '97', '445', '382', '357', '362/537',
       '337/501', '22', '29', '25', '264/380'], dtype=object)

In [96]:
df[df['Range (FT2)'].notnull()][['Range (FT2)', 
                                 'City Range (FT2)', 'Highway Range (FT2)']].sort_values(
    by='Range (FT2)', ascending=False)

      Range (FT2)  City Range (FT2)  Highway Range (FT2)
37015          97           103.030               90.550
34522          72            77.504               65.632
35769          72            77.504               65.632
33304          72            77.504               65.632
30089          69             0.000                0.000
...           ...               ...                  ...
33078          11            12.150                9.100
31911          11            12.150                9.100
35539          11            12.150                9.100
36491          11            11.370               11.190
34284          11            12.150                9.100

[1433 rows x 3 columns]

In [97]:
df.dtypes

Vehicle ID               int64
Year                     int64
Make                    object
Model                   object
Class                   object
                        ...
City Range (FT1)       float64
Highway Range (FT1)    float64
Range (FT2)             object
City Range (FT2)       float64
Highway Range (FT2)    float64
Length: 81, dtype: object

**Range (FT2)** is trickier. The column denotes the range of vehicles using their second fuel type (FT2 = fuel type 2). The integer-like values of this column are an average of the City Range (FT2) and Highway Range (FT2) columns. However, inspecting the datatypes of this dataframe, I can see that there are also some string values in this column. I need to find these, make sense of them, and, if necessary, convert them to integers.

In [162]:
df[df['Range (FT2)'].apply(type) == str]

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,...,Hours to Charge (AC 240V),Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),Range (FT2),City Range (FT2),Highway Range (FT2)
18087,16403,2000,Chevrolet,Cavalier (Bi-fuel CNG),Subcompact Cars,Front-Wheel Drive,Automatic 3-Speed,NaN,0,NONE,...,0.0,0,0,0,0,0.0,0.0,360,0.00,0.00
18162,16422,2000,Chrysler,Town and Country/Voyager/Grand Voy. 2WD,Minivan - 2WD,Front-Wheel Drive,Automatic 4-Speed,CLKUP,0,FLEX-FUEL,...,0.0,0,0,0,0,0.0,0.0,300,0.00,0.00
18189,16421,2000,Dodge,Caravan/Grand Caravan 2WD,Minivan - 2WD,Front-Wheel Drive,Automatic 4-Speed,CLKUP,0,FLEX-FUEL,...,0.0,0,0,0,0,0.0,0.0,300,0.00,0.00
18291,16411,2000,Ford,Ranger 2WD FFV,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Automatic 4-Speed,CLKUP,0,FLEX-FUEL,...,0.0,0,0,0,0,0.0,0.0,230/270/270,0.00,0.00
18292,16412,2000,Ford,Ranger 2WD FFV,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Manual 5-Speed,NaN,0,FLEX-FUEL,...,0.0,0,0,0,0,0.0,0.0,240/290/290,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38033,38531,2017,Toyota,Prius Prime,Midsize Cars,Front-Wheel Drive,Automatic (variable gear ratios),NaN,108,PHEV,...,0.0,83,73,78,0,0.0,0.0,25,27.10,22.82
38042,38291,2017,Toyota,Sequoia 4WD FFV,Standard Sport Utility Vehicle 4WD,Part-time 4-Wheel Drive,Automatic (S6),NaN,8,FFV,...,0.0,0,0,0,0,0.0,0.0,264,0.00,0.00
38054,38122,2017,Toyota,Tundra 2WD FFV,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Automatic (S6),NaN,9,FFV,...,0.0,0,0,0,0,0.0,0.0,290/418,0.00,0.00
38057,38127,2017,Toyota,Tundra 4WD FFV,Standard Pickup Trucks 4WD,Part-time 4-Wheel Drive,Automatic (S6),NaN,10,FFV,...,0.0,0,0,0,0,0.0,0.0,264/380,0.00,0.00
38111,37703,2017,Volvo,XC90 AWD PHEV,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,54,SIDI; PHEV,...,0.0,29,32,30,0,0.0,0.0,14,13.84,13.30

In [182]:
df[df['Range (FT2)'].apply(lambda x: len(str(x)) > 3)]

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,...,Hours to Charge (AC 240V),Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),Range (FT2),City Range (FT2),Highway Range (FT2)
18291,16411,2000,Ford,Ranger 2WD FFV,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Automatic 4-Speed,CLKUP,0,FLEX-FUEL,...,0.0,0,0,0,0,0.0,0.0,230/270/270,0.0,0.0
18292,16412,2000,Ford,Ranger 2WD FFV,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Manual 5-Speed,NaN,0,FLEX-FUEL,...,0.0,0,0,0,0,0.0,0.0,240/290/290,0.0,0.0
18293,16418,2000,Ford,Ranger 4WD FFV,Standard Pickup Trucks 4WD,4-Wheel or All-Wheel Drive,Automatic 4-Speed,CLKUP,0,FLEX-FUEL,...,0.0,0,0,0,0,0.0,0.0,220/270/260,0.0,0.0
18294,16419,2000,Ford,Ranger 4WD FFV,Standard Pickup Trucks 4WD,4-Wheel or All-Wheel Drive,Manual 5-Speed,NaN,0,FLEX-FUEL,...,0.0,0,0,0,0,0.0,0.0,240/290/280,0.0,0.0
18477,16413,2000,Mazda,B3000 FFV 2WD,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Automatic 4-Speed,CLKUP,0,FLEX-FUEL,...,0.0,0,0,0,0,0.0,0.0,230/270,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37378,37660,2017,GMC,Sierra K15 4WD,Standard Pickup Trucks 4WD,4-Wheel Drive,Automatic 6-Speed,NaN,639,SIDI; FFV,...,0.0,0,0,0,0,0.0,0.0,338/442,0.0,0.0
37953,37992,2017,Ram,1500 2WD,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Automatic 8-Speed,NaN,681,FFV,...,0.0,0,0,0,0,0.0,0.0,364/448,0.0,0.0
37956,37995,2017,Ram,1500 4WD,Standard Pickup Trucks 4WD,4-Wheel Drive,Automatic 8-Speed,NaN,690,FFV,...,0.0,0,0,0,0,0.0,0.0,338/416,0.0,0.0
38054,38122,2017,Toyota,Tundra 2WD FFV,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Automatic (S6),NaN,9,FFV,...,0.0,0,0,0,0,0.0,0.0,290/418,0.0,0.0
38057,38127,2017,Toyota,Tundra 4WD FFV,Standard Pickup Trucks 4WD,Part-time 4-Wheel Drive,Automatic (S6),NaN,10,FFV,...,0.0,0,0,0,0,0.0,0.0,264/380,0.0,0.0

Additional research online revealed that the "slash" notation (e.g. 230/270/270) in the Range (FT2) column denotes differences between pickup trucks with "regular cab short wheelbase, regular cab long wheelbase, and super cab models, respectively". I found this information in a report on [FuelEconomy.gov](https://www.fueleconomy.gov/FEG/pdfs/guides/FEG2000_Part1.pdf).

To simplify this column, I think it's reasonable to take the average of the values and use that single value instead. First, though, I will replace null values with 0.

In [185]:
df['Range (FT2)'].fillna(0, inplace=True)

In [187]:
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                   Nulls  Valids
Fuel Type 2                        36675    1438
Gas Guzzler Tax                    35817    2296
Alternative Fuel/Technology        35066    3047
Turbocharger                       32874    5239
Start Stop Technology              31670    6443
...                                  ...     ...
Unadjusted City MPG (FT1)              0   38113
Highway Utility Factor                 0   38113
Highway Electricity Consumption        0   38113
Highway Gasoline Consumption (CD)      0   38113
Highway Range (FT2)                    0   38113

[81 rows x 2 columns]

In [188]:
df['Fuel Type 2'].unique()

array([nan, 'Natural Gas', 'E85', 'Propane', 'Electricity'], dtype=object)

Fuel Type 2 null values can be replaced with "None". Not all vehicles will have an alternate fuel type that they can use:

In [189]:
df['Fuel Type 2'].fillna('None', inplace=True)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                   Nulls  Valids
Gas Guzzler Tax                    35817    2296
Alternative Fuel/Technology        35066    3047
Turbocharger                       32874    5239
Start Stop Technology              31670    6443
Manufacturer Code                  30794    7319
...                                  ...     ...
Unadjusted City MPG (FT1)              0   38113
Highway Utility Factor                 0   38113
Highway Electricity Consumption        0   38113
Highway Gasoline Consumption (CD)      0   38113
Highway Range (FT2)                    0   38113

[81 rows x 2 columns]

In [190]:
df['Gas Guzzler Tax'].unique()

array([nan, 'T', 'G', 'S'], dtype=object)

The US Department of Energy states that for the **Gas Guzzler Tax** column, vehicles with "G" or "T" values are subject to the gas guzzler tax. However, the website does not mention what "S" denotes in this case. I will follow my usual convention of converting null values to "None".

In [191]:
df['Gas Guzzler Tax'].fillna('None', inplace=True)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                   Nulls  Valids
Alternative Fuel/Technology        35066    3047
Turbocharger                       32874    5239
Start Stop Technology              31670    6443
Manufacturer Code                  30794    7319
Transmission Descriptor            23068   15045
...                                  ...     ...
Unadjusted City MPG (FT1)              0   38113
Highway Utility Factor                 0   38113
Highway Electricity Consumption        0   38113
Highway Gasoline Consumption (CD)      0   38113
Highway Range (FT2)                    0   38113

[81 rows x 2 columns]