# Fuel Economy Data &mdash; Part 1

### This notebook contains my initial data exploration and the data cleaning I did to generate my final dataset.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# load EPA fuel economy dataset downloaded from Kaggle
df = pd.read_csv('./data/database.csv')

C:\Users\chloe\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (7,16,62,64,65,67,68,78) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [18]:
df.describe()

,Vehicle ID,Year,Engine Index,Engine Cylinders,Engine Displacement,City MPG (FT1),Unrounded City MPG (FT1),City MPG (FT2),Unrounded City MPG (FT2),City Gasoline Consumption (CD),...,Hours to Charge (240V),Hours to Charge (AC 240V),Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),City Range (FT2),Highway Range (FT2)
count,38113.000000,38113.000000,38113.000000,37977.000000,37979.000000,38113.000000,38113.000000,38113.000000,38113.000000,38113.000000,...,38113.000000,38113.000000,38113.000000,38113.000000,38113.000000,38113.000000,38113.000000,38113.000000,38113.000000,38113.000000
mean,19170.638496,2000.194527,8799.389001,5.736656,3.317583,17.981109,4.606426,0.546218,0.386633,0.000432,...,0.027635,0.005549,0.082203,0.080891,0.081311,0.469708,0.426249,0.419197,0.043973,0.040051
std,11134.878665,10.464573,17781.058490,1.752254,1.361995,6.849728,10.113963,4.109282,3.861179,0.039976,...,0.473685,0.161014,2.156682,2.052187,2.097794,9.352069,9.104702,9.315914,1.311628,1.169281
min,1.000000,1984.000000,0.000000,2.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9529.000000,1991.000000,0.000000,4.000000,2.200000,15.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,19058.000000,2001.000000,212.000000,6.000000,3.000000,17.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,28779.000000,2009.000000,4451.000000,6.000000,4.300000,20.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,38542.000000,2017.000000,69102.000000,16.000000,8.400000,150.000000,150.000000,145.000000,145.083500,5.350000,...,12.000000,7.000000,97.000000,81.000000,88.000000,315.000000,305.900000,346.900000,103.030000,90.550000

In [17]:
df[df.isnull().any(axis=1)]

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,...,Hours to Charge (AC 240V),Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),Range (FT2),City Range (FT2),Highway Range (FT2)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9001,(FFS),...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9005,(FFS) CA model,...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9002,(FFS),...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9006,(FFS) CA model,...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1830,(FFS),...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38108,37564,2017,Volvo,XC60 FWD,Small Sport Utility Vehicle 2WD,Front-Wheel Drive,Automatic (S8),NaN,90,SIDI,...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
38109,37547,2017,Volvo,XC90 AWD,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,52,SIDI,...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
38110,37548,2017,Volvo,XC90 AWD,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,53,SIDI,...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0
38111,37703,2017,Volvo,XC90 AWD PHEV,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,54,SIDI; PHEV,...,0.0,29,32,30,0,0.0,0.0,14,13.84,13.3
38112,37687,2017,Volvo,XC90 FWD,Standard Sport Utility Vehicle 2WD,Front-Wheel Drive,Automatic (S8),NaN,50,SIDI,...,0.0,0,0,0,0,0.0,0.0,NaN,0.00,0.0

There are many null values in this dataset. I will examine the dataset column by column to see what reasonable values for the different nulls should be.

In [58]:
def print_nulls(df):
    for column in df.columns:
        print(f"{column} Nulls: {df[df[column].isnull()].shape[0]}")
        print(f"{column} Valids: {df[df[column].notnull()].shape[0]}")

def nulls_to_df(df):
    """Returns a dataframe with a count of null and valid entries for each column in the
    original dataset."""
    d = dict()
    for column in df.columns:
        l = []
        l.append(df[df[column].isnull()].shape[0])
        l.append(df[df[column].notnull()].shape[0])
        d[column] = l
    
    new_df = pd.DataFrame.from_dict(d, orient='index', columns=['Nulls', 'Valids'])
    return new_df

In [49]:
print_nulls(df)

Vehicle ID Nulls: 0
Vehicle ID Valids: 38113
Year Nulls: 0
Year Valids: 38113
Make Nulls: 0
Make Valids: 38113
Model Nulls: 0
Model Valids: 38113
Class Nulls: 0
Class Valids: 38113
Drive Nulls: 1189
Drive Valids: 36924
Transmission Nulls: 11
Transmission Valids: 38102
Transmission Descriptor Nulls: 23068
Transmission Descriptor Valids: 15045
Engine Index Nulls: 0
Engine Index Valids: 38113
Engine Descriptor Nulls: 15420
Engine Descriptor Valids: 22693
Engine Cylinders Nulls: 136
Engine Cylinders Valids: 37977
Engine Displacement Nulls: 134
Engine Displacement Valids: 37979
Turbocharger Nulls: 32874
Turbocharger Valids: 5239
Supercharger Nulls: 37420
Supercharger Valids: 693
Fuel Type Nulls: 0
Fuel Type Valids: 38113
Fuel Type 1 Nulls: 0
Fuel Type 1 Valids: 38113
Fuel Type 2 Nulls: 36675
Fuel Type 2 Valids: 1438
City MPG (FT1) Nulls: 0
City MPG (FT1) Valids: 38113
Unrounded City MPG (FT1) Nulls: 0
Unrounded City MPG (FT1) Valids: 38113
City MPG (FT2) Nulls: 0
City MPG (FT2) Valids: 38113
Unrounded City MPG (FT2) Nulls: 0
Unrounded City MPG (FT2) Valids: 38113
City Gasoline Consumption (CD) Nulls: 0
City Gasoline Consumption (CD) Valids: 38113
City Electricity Consumption Nulls: 0
City Electricity Consumption Valids: 38113
City Utility Factor Nulls: 0
City Utility Factor Valids: 38113
Highway MPG (FT1) Nulls: 0
Highway MPG (FT1) Valids: 38113
Unrounded Highway MPG (FT1) Nulls: 0
Unrounded Highway MPG (FT1) Valids: 38113
Highway MPG (FT2) Nulls: 0
Highway MPG (FT2) Valids: 38113
Unrounded Highway MPG (FT2) Nulls: 0
Unrounded Highway MPG (FT2) Valids: 38113
Highway Gasoline Consumption (CD) Nulls: 0
Highway Gasoline Consumption (CD) Valids: 38113
Highway Electricity Consumption Nulls: 0
Highway Electricity Consumption Valids: 38113
Highway Utility Factor Nulls: 0
Highway Utility Factor Valids: 38113
Unadjusted City MPG (FT1) Nulls: 0
Unadjusted City MPG (FT1) Valids: 38113
Unadjusted Highway MPG (FT1) Nulls: 0
Unadjusted Highway MPG (FT1) Valids: 38113
Unadjusted City MPG (FT2) Nulls: 0
Unadjusted City MPG (FT2) Valids: 38113
Unadjusted Highway MPG (FT2) Nulls: 0
Unadjusted Highway MPG (FT2) Valids: 38113
Combined MPG (FT1) Nulls: 0
Combined MPG (FT1) Valids: 38113
Unrounded Combined MPG (FT1) Nulls: 0
Unrounded Combined MPG (FT1) Valids: 38113
Combined MPG (FT2) Nulls: 0
Combined MPG (FT2) Valids: 38113
Unrounded Combined MPG (FT2) Nulls: 0
Unrounded Combined MPG (FT2) Valids: 38113
Combined Electricity Consumption Nulls: 0
Combined Electricity Consumption Valids: 38113
Combined Gasoline Consumption (CD) Nulls: 0
Combined Gasoline Consumption (CD) Valids: 38113
Combined Utility Factor Nulls: 0
Combined Utility Factor Valids: 38113
Annual Fuel Cost (FT1) Nulls: 0
Annual Fuel Cost (FT1) Valids: 38113
Annual Fuel Cost (FT2) Nulls: 0
Annual Fuel Cost (FT2) Valids: 38113
Gas Guzzler Tax Nulls: 35817
Gas Guzzler Tax Valids: 2296
Save or Spend (5 Year) Nulls: 0
Save or Spend (5 Year) Valids: 38113
Annual Consumption in Barrels (FT1) Nulls: 0
Annual Consumption in Barrels (FT1) Valids: 38113
Annual Consumption in Barrels (FT2) Nulls: 0
Annual Consumption in Barrels (FT2) Valids: 38113
Tailpipe CO2 (FT1) Nulls: 0
Tailpipe CO2 (FT1) Valids: 38113
Tailpipe CO2 in Grams/Mile (FT1) Nulls: 0
Tailpipe CO2 in Grams/Mile (FT1) Valids: 38113
Tailpipe CO2 (FT2) Nulls: 0
Tailpipe CO2 (FT2) Valids: 38113
Tailpipe CO2 in Grams/Mile (FT2) Nulls: 0
Tailpipe CO2 in Grams/Mile (FT2) Valids: 38113
Fuel Economy Score Nulls: 0
Fuel Economy Score Valids: 38113
GHG Score Nulls: 0
GHG Score Valids: 38113
GHG Score (Alt Fuel) Nulls: 0
GHG Score (Alt Fuel) Valids: 38113
My MPG Data Nulls: 0
My MPG Data Valids: 38113
2D Passenger Volume Nulls: 0
2D Passenger Volume Valids: 38113
2D Luggage Volume Nulls: 0
2D Luggage Volume Valids: 38113
4D Passenger Volume Nulls: 0
4D Passenger Volume Valids: 38113
4D Luggage Volume Nulls: 0
4D Luggage Volume Valids: 38113
Hatchback Passenger Volume Nulls: 0
Hatchback Passenger Volume Valids: 38113
Hatchback Luggage Volume Nulls: 0
Hatchback Luggage Volume Valids: 38113
Start Stop Technology Nulls: 31670
Start Stop Technology Valids: 6443
Alternative Fuel/Technology Nulls: 35066
Alternative Fuel/Technology Valids: 3047
Electric Motor Nulls: 37509
Electric Motor Valids: 604
Manufacturer Code Nulls: 30794
Manufacturer Code Valids: 7319
Gasoline/Electricity Blended (CD) Nulls: 0
Gasoline/Electricity Blended (CD) Valids: 38113
Vehicle Charger Nulls: 38065
Vehicle Charger Valids: 48
Alternate Charger Nulls: 38067
Alternate Charger Valids: 46
Hours to Charge (120V) Nulls: 0
Hours to Charge (120V) Valids: 38113
Hours to Charge (240V) Nulls: 0
Hours to Charge (240V) Valids: 38113
Hours to Charge (AC 240V) Nulls: 0
Hours to Charge (AC 240V) Valids: 38113
Composite City MPG Nulls: 0
Composite City MPG Valids: 38113
Composite Highway MPG Nulls: 0
Composite Highway MPG Valids: 38113
Composite Combined MPG Nulls: 0
Composite Combined MPG Valids: 38113
Range (FT1) Nulls: 0
Range (FT1) Valids: 38113
City Range (FT1) Nulls: 0
City Range (FT1) Valids: 38113
Highway Range (FT1) Nulls: 0
Highway Range (FT1) Valids: 38113
Range (FT2) Nulls: 36680
Range (FT2) Valids: 1433
City Range (FT2) Nulls: 0
City Range (FT2) Valids: 38113
Highway Range (FT2) Nulls: 0
Highway Range (FT2) Valids: 38113

In [64]:
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                 Nulls  Valids
Alternate Charger                38067      46
Vehicle Charger                  38065      48
Electric Motor                   37509     604
Supercharger                     37420     693
Range (FT2)                      36680    1433
...                                ...     ...
Unadjusted Highway MPG (FT1)         0   38113
Unadjusted City MPG (FT1)            0   38113
Highway Utility Factor               0   38113
Highway Electricity Consumption      0   38113
Highway Range (FT2)                  0   38113

[81 rows x 2 columns]

With 38,067 null values and only 46 valid values, **Alternate Charger** is in the worst shape, so I'll start with that. Based on the values in the column and on information found on the [Department of Energy's website](https://www.fueleconomy.gov/feg/ws/), this column seems to describe alternate chargers for electric vehicles. This does not apply to the vast majority of vehicles, so a reasonable value to substitute is "None".

In [65]:
df['Alternate Charger'].unique()

array([nan, '6.6 kW charger', 'dual charger', '80 amp dual charger',
       '3.6 kW charger'], dtype=object)

In [67]:
df['Alternate Charger'].fillna('None', inplace=True)
df['Alternate Charger'].unique()

array(['None', '6.6 kW charger', 'dual charger', '80 amp dual charger',
       '3.6 kW charger'], dtype=object)

In [69]:
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                 Nulls  Valids
Vehicle Charger                  38065      48
Electric Motor                   37509     604
Supercharger                     37420     693
Range (FT2)                      36680    1433
Fuel Type 2                      36675    1438
...                                ...     ...
Unadjusted Highway MPG (FT1)         0   38113
Unadjusted City MPG (FT1)            0   38113
Highway Utility Factor               0   38113
Highway Electricity Consumption      0   38113
Highway Range (FT2)                  0   38113

[81 rows x 2 columns]

I will clean the remaining columns similarly, relying on information from the US Department of Energy as well as column values to determine appropriate substitutions for nulls.

In [70]:
df['Vehicle Charger'].unique()

array([nan, '3.6 kW charger', 'single charger', 'standard charger',
       '6.6 kW charger', '7.2 kW charger'], dtype=object)

Vehicle charger also refers only to electric vehicles. Using the same logics as with Alternate Charger, I will subtitute these values with "None" also:

In [71]:
df['Vehicle Charger'].fillna('None', inplace=True)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                 Nulls  Valids
Electric Motor                   37509     604
Supercharger                     37420     693
Range (FT2)                      36680    1433
Fuel Type 2                      36675    1438
Gas Guzzler Tax                  35817    2296
...                                ...     ...
Unadjusted Highway MPG (FT1)         0   38113
Unadjusted City MPG (FT1)            0   38113
Highway Utility Factor               0   38113
Highway Electricity Consumption      0   38113
Highway Range (FT2)                  0   38113

[81 rows x 2 columns]

In [72]:
df['Electric Motor'].unique()

array([nan, '85 kW AC Induction', '49 kW DC Brushless',
       '56kW AC Induction', '67 KW AC  Induction', '67 KW AC',
       '102kW AC Induction', '49kW DC Brushless', '62 KW AC Induction',
       '50 KW DC', '67 KW AC Induction', '27 KW AC Induction',
       '24 KW AC Synchronous', '36V Ni-MH', '288V Ni-MH', '330V Ni-MH',
       '158V Ni-MH', '150 kW', '245V Ni-MH', '202V Ni-MH', '300V Ni-MH',
       '312V Ni-MH', '275V Ni-MH', '101V Ni-MH', '126V Li-Ion',
       '125 kW AC Induction', '111 kW', '270V Li-Ion', '80 kW DCPM',
       '30 kW DCPM', '52 kW AC Induction', '374V Li-Ion', '115V Li-Ion',
       '75 kW AC PMSM', '100 kW DCPM', '2 @ 150 kw (300 kw)',
       '107 kW AC Induction', '144V Li-Ion', '346V Li-Ion', '49 kW DCPM',
       '260 kW AC Induction', '144V Ni-MH', '18 kW',
       '115 kW AC Induction', '266V Li-Ion', '82 kW ACIPM', '68 kW',
       '280V Li-Ion', '107 kW AC PMSM', '92 kW DCPM', '55 kW DCPM',
       '225 kW AC Induction', '270 kW AC Induction', '220V Li-Ion',
       '260V Li-Ion', '125kW', '96kW', '126 kW', '104 kW AC Induction',
       'Two 480V Li-Ion', '259V Li-Ion', '124 kW', '132kW',
       '132 kW AC Induction', '70 kW',
       '225 kW AC Induction (60 kW-hr battery pack)',
       '270 kW AC Induction (85 kW-hr battery pack)',
       '180 and 350 kW AC Induction (85 kW-hr battery pack)',
       '126 kW 3-Phase AC', '104 kW ACPM', '111 kW 3-Phase AC',
       '82 kW AC Induction', '68 kW DCPM', '81 kW AC PMSM',
       '132 kW AC Synchronous', '85 kW DCPM',
       '95 kW and 116 kW DC Brushless', '70 kW DC Brushless',
       '285 kW AC Induction (90 kW-hr battery pack)',
       '140 (front) 140 (rear) (70 kW-hr battery pack)',
       '140 (front) 140 (rear) (85 kW-hr battery pack)',
       '140 (front) 140 (rear) (90 kW-hr battery pack)',
       '164 (front) 350 (rear) (85 kW-hr battery pack)',
       '164 (front) 350 (rear) (90 kW-hr battery pack)',
       '18 kW AC Induction', '85 kW AC PMSM', '65kW',
       '83 kW AC Induction', '55 and 174kW 3-Phase AC', '300V Li-Ion',
       '86V Li-Ion', '105 kW ACPM', '48 and 87 kW 3-Phase AC',
       '50 kW IPMSM', '60 kW DCPM',
       '285 kW AC Induction (60 kW-hr battery pack)',
       '285 kW AC Induction (70 kW-hr battery pack)',
       '285 kW AC Induction (75 kW-hr battery pack)',
       '285 kW AC Induction (85 kW-hr battery pack)',
       '193 (front) 193 (rear) (60 kW-hr battery pack)',
       '193 (front) 193 (rear) (70 kW-hr battery pack)',
       '193 (front) 193 (rear) (75 kW-hr battery pack)',
       '193 (front) 193 (rear) (85 kW-hr battery pack)',
       '193 (front) 193 (rear) (90 kW-hr battery pack)',
       '193 (front) 375 (rear) (100 kW-hr battery pack)',
       '193 (front) 375 (rear) (85 kW-hr battery pack)',
       '193 (front) 375 (rear) (90 kW-hr battery pack)', '207V Li-Ion',
       '34 and 65kW DCPM', '83kW DCPM', '125kW AC Induction',
       '96kW AC Induction', '150 kW ACPM', '65 and 102 kW AC Induction',
       'Two 444V Li-Ion', '240V Li-Ion', '88 kW AC PMSM', '50kW IPMSM',
       '202V Li-Ion', '16 and 37 kW AC Induction'], dtype=object)

The **Electric Motor** column describes the kilowatt hours for the vehicle's electric motor. This doesn't apply to most vehicles, so substituting "None" is appropriate.

In [73]:
df['Electric Motor'].fillna('None', inplace=True)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                 Nulls  Valids
Supercharger                     37420     693
Range (FT2)                      36680    1433
Fuel Type 2                      36675    1438
Gas Guzzler Tax                  35817    2296
Alternative Fuel/Technology      35066    3047
...                                ...     ...
Unadjusted Highway MPG (FT1)         0   38113
Unadjusted City MPG (FT1)            0   38113
Highway Utility Factor               0   38113
Highway Electricity Consumption      0   38113
Highway Range (FT2)                  0   38113

[81 rows x 2 columns]

In [74]:
df['Supercharger'].unique()

array([nan, 'S'], dtype=object)

The **Supercharger** column is different from what we've seen so far. It contains an "S" if the vehicle is supercharged and nothing otherwise. I think substituting "NS" (denoting "not supercharged") is a reasonable thing to do here:

In [75]:
df['Supercharger'].fillna('NS', inplace=True)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                   Nulls  Valids
Range (FT2)                        36680    1433
Fuel Type 2                        36675    1438
Gas Guzzler Tax                    35817    2296
Alternative Fuel/Technology        35066    3047
Turbocharger                       32874    5239
...                                  ...     ...
Unadjusted City MPG (FT1)              0   38113
Highway Utility Factor                 0   38113
Highway Electricity Consumption        0   38113
Highway Gasoline Consumption (CD)      0   38113
Highway Range (FT2)                    0   38113

[81 rows x 2 columns]

In [77]:
df['Range (FT2)'].unique()

array([nan, '360', '300', '230/270/270', '240/290/290', '220/270/260',
       '240/290/280', '290', '230/270', '240/280', '220/260', '140',
       '310', '280', '230', '210', '260', '120', '250/220/320', '270',
       '110', '290/340', '320', '310/390', '280/380', '130', '180',
       '270/240/340', '170', '310-540', '310/460', '310/540', '310/330',
       '310/480', '310/440', '330', '340-400', '370', '340', '340-440',
       '310-410', '240', '340-350', '290/410', '310/340', '250/370',
       '230/350', '240-420', '250', '310/320', '280/370', '350-370',
       '280-350', '310-420', '310-340', '330-450', '300-420', '310/410',
       '380', '410', '350', '310/420', '330/450', '220', '260/320',
       '310/370', '214', '236', '279', '312', '333', '307', '304', '383',
       '353', '413', '295', '294', '344', '338', '277', '308', '264',
       '303', '307/420', '337/451', '347', '286/382', '329', '35', '262',
       '292', '219', '354', '265', '366', '331', '245', '282', '337',
       '69', '361', '314', '339', '248', '278', '415', '328', '345',
       '238', '273', '298', '318', '272', '283', '269', '325', '346',
       '287', '288/351', '33', '362', '337/406', '308/366', '361/501',
       '337/467', '339/469', '314/434', '271', '266', '296', '368', '302',
       '11', '254', '267', '217', '336', '38', '291', '20', '258', '256',
       '306', '234', '274', '334', '286/352', '364/448', '338/416', '317',
       '72', '15', '37', '361/479', '364/476', '339/441', '335/445',
       '286', '365', '332', '336/402', '308/368', '364/504', '338/468',
       '312/432', '285', '13', '311', '351', '305', '19', '16', '409',
       '407', '444', '358', '316', '253', '284', '369', '309/313',
       '357/362', '333/337', '301', '241', '341', '281', '14', '12',
       '290/418', '17', '40', '36', '338/442', '400', '53', '313/465',
       '289/430', '276', '27', '97', '445', '382', '357', '362/537',
       '337/501', '22', '29', '25', '264/380'], dtype=object)

In [96]:
df[df['Range (FT2)'].notnull()][['Range (FT2)', 
                                 'City Range (FT2)', 'Highway Range (FT2)']].sort_values(
    by='Range (FT2)', ascending=False)

      Range (FT2)  City Range (FT2)  Highway Range (FT2)
37015          97           103.030               90.550
34522          72            77.504               65.632
35769          72            77.504               65.632
33304          72            77.504               65.632
30089          69             0.000                0.000
...           ...               ...                  ...
33078          11            12.150                9.100
31911          11            12.150                9.100
35539          11            12.150                9.100
36491          11            11.370               11.190
34284          11            12.150                9.100

[1433 rows x 3 columns]

In [97]:
df.dtypes

Vehicle ID               int64
Year                     int64
Make                    object
Model                   object
Class                   object
                        ...
City Range (FT1)       float64
Highway Range (FT1)    float64
Range (FT2)             object
City Range (FT2)       float64
Highway Range (FT2)    float64
Length: 81, dtype: object

**Range (FT2)** is trickier. The column denotes the range of vehicles using their second fuel type (FT2 = fuel type 2). The integer-like values of this column are an average of the City Range (FT2) and Highway Range (FT2) columns. However, inspecting the datatypes of this dataframe, I can see that there are also some string values in this column. I need to find these, make sense of them, and, if necessary, convert them to integers.

In [162]:
df[df['Range (FT2)'].apply(type) == str]

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,...,Hours to Charge (AC 240V),Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),Range (FT2),City Range (FT2),Highway Range (FT2)
18087,16403,2000,Chevrolet,Cavalier (Bi-fuel CNG),Subcompact Cars,Front-Wheel Drive,Automatic 3-Speed,NaN,0,NONE,...,0.0,0,0,0,0,0.0,0.0,360,0.00,0.00
18162,16422,2000,Chrysler,Town and Country/Voyager/Grand Voy. 2WD,Minivan - 2WD,Front-Wheel Drive,Automatic 4-Speed,CLKUP,0,FLEX-FUEL,...,0.0,0,0,0,0,0.0,0.0,300,0.00,0.00
18189,16421,2000,Dodge,Caravan/Grand Caravan 2WD,Minivan - 2WD,Front-Wheel Drive,Automatic 4-Speed,CLKUP,0,FLEX-FUEL,...,0.0,0,0,0,0,0.0,0.0,300,0.00,0.00
18291,16411,2000,Ford,Ranger 2WD FFV,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Automatic 4-Speed,CLKUP,0,FLEX-FUEL,...,0.0,0,0,0,0,0.0,0.0,230/270/270,0.00,0.00
18292,16412,2000,Ford,Ranger 2WD FFV,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Manual 5-Speed,NaN,0,FLEX-FUEL,...,0.0,0,0,0,0,0.0,0.0,240/290/290,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38033,38531,2017,Toyota,Prius Prime,Midsize Cars,Front-Wheel Drive,Automatic (variable gear ratios),NaN,108,PHEV,...,0.0,83,73,78,0,0.0,0.0,25,27.10,22.82
38042,38291,2017,Toyota,Sequoia 4WD FFV,Standard Sport Utility Vehicle 4WD,Part-time 4-Wheel Drive,Automatic (S6),NaN,8,FFV,...,0.0,0,0,0,0,0.0,0.0,264,0.00,0.00
38054,38122,2017,Toyota,Tundra 2WD FFV,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Automatic (S6),NaN,9,FFV,...,0.0,0,0,0,0,0.0,0.0,290/418,0.00,0.00
38057,38127,2017,Toyota,Tundra 4WD FFV,Standard Pickup Trucks 4WD,Part-time 4-Wheel Drive,Automatic (S6),NaN,10,FFV,...,0.0,0,0,0,0,0.0,0.0,264/380,0.00,0.00
38111,37703,2017,Volvo,XC90 AWD PHEV,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,54,SIDI; PHEV,...,0.0,29,32,30,0,0.0,0.0,14,13.84,13.30

In [182]:
df[df['Range (FT2)'].apply(lambda x: len(str(x)) > 3)]

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,...,Hours to Charge (AC 240V),Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),Range (FT2),City Range (FT2),Highway Range (FT2)
18291,16411,2000,Ford,Ranger 2WD FFV,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Automatic 4-Speed,CLKUP,0,FLEX-FUEL,...,0.0,0,0,0,0,0.0,0.0,230/270/270,0.0,0.0
18292,16412,2000,Ford,Ranger 2WD FFV,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Manual 5-Speed,NaN,0,FLEX-FUEL,...,0.0,0,0,0,0,0.0,0.0,240/290/290,0.0,0.0
18293,16418,2000,Ford,Ranger 4WD FFV,Standard Pickup Trucks 4WD,4-Wheel or All-Wheel Drive,Automatic 4-Speed,CLKUP,0,FLEX-FUEL,...,0.0,0,0,0,0,0.0,0.0,220/270/260,0.0,0.0
18294,16419,2000,Ford,Ranger 4WD FFV,Standard Pickup Trucks 4WD,4-Wheel or All-Wheel Drive,Manual 5-Speed,NaN,0,FLEX-FUEL,...,0.0,0,0,0,0,0.0,0.0,240/290/280,0.0,0.0
18477,16413,2000,Mazda,B3000 FFV 2WD,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Automatic 4-Speed,CLKUP,0,FLEX-FUEL,...,0.0,0,0,0,0,0.0,0.0,230/270,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37378,37660,2017,GMC,Sierra K15 4WD,Standard Pickup Trucks 4WD,4-Wheel Drive,Automatic 6-Speed,NaN,639,SIDI; FFV,...,0.0,0,0,0,0,0.0,0.0,338/442,0.0,0.0
37953,37992,2017,Ram,1500 2WD,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Automatic 8-Speed,NaN,681,FFV,...,0.0,0,0,0,0,0.0,0.0,364/448,0.0,0.0
37956,37995,2017,Ram,1500 4WD,Standard Pickup Trucks 4WD,4-Wheel Drive,Automatic 8-Speed,NaN,690,FFV,...,0.0,0,0,0,0,0.0,0.0,338/416,0.0,0.0
38054,38122,2017,Toyota,Tundra 2WD FFV,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Automatic (S6),NaN,9,FFV,...,0.0,0,0,0,0,0.0,0.0,290/418,0.0,0.0
38057,38127,2017,Toyota,Tundra 4WD FFV,Standard Pickup Trucks 4WD,Part-time 4-Wheel Drive,Automatic (S6),NaN,10,FFV,...,0.0,0,0,0,0,0.0,0.0,264/380,0.0,0.0

Additional research online revealed that the "slash" notation (e.g. 230/270/270) in the Range (FT2) column denotes differences between pickup trucks with "regular cab short wheelbase, regular cab long wheelbase, and super cab models, respectively". I found this information in a report on [FuelEconomy.gov](https://www.fueleconomy.gov/FEG/pdfs/guides/FEG2000_Part1.pdf).

To simplify this column, I think it's reasonable to take the average of the values and use that single value instead. First, though, I will replace null values with 0.

In [185]:
df['Range (FT2)'].fillna(0, inplace=True)

In [228]:
def convert_rangeft(series):
    """Returns a version of the Range (FT#) column with only integers and 
    uses the mean for rows with multiple values listed."""
    l = []
    for i in series:
        try:
            l.append(int(i))
        except:
            if '/' in i:
                i = i.split('/')
            elif '-' in i:
                i = i.split('-')
            i = [int(num) for num in i]
            avg = round(sum(i)/len(i))
            l.append(avg)
    return pd.Series(l)

In [229]:
df['Range (FT2) Clean'] = convert_rangeft(df['Range (FT2)'])

In [230]:
df[df['Range (FT2) Clean'] > 0]

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,...,Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),Range (FT2),City Range (FT2),Highway Range (FT2),Range (FT2) Clean
18087,16403,2000,Chevrolet,Cavalier (Bi-fuel CNG),Subcompact Cars,Front-Wheel Drive,Automatic 3-Speed,NaN,0,NONE,...,0,0,0,0,0.0,0.0,360,0.00,0.00,360
18162,16422,2000,Chrysler,Town and Country/Voyager/Grand Voy. 2WD,Minivan - 2WD,Front-Wheel Drive,Automatic 4-Speed,CLKUP,0,FLEX-FUEL,...,0,0,0,0,0.0,0.0,300,0.00,0.00,300
18189,16421,2000,Dodge,Caravan/Grand Caravan 2WD,Minivan - 2WD,Front-Wheel Drive,Automatic 4-Speed,CLKUP,0,FLEX-FUEL,...,0,0,0,0,0.0,0.0,300,0.00,0.00,300
18291,16411,2000,Ford,Ranger 2WD FFV,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Automatic 4-Speed,CLKUP,0,FLEX-FUEL,...,0,0,0,0,0.0,0.0,230/270/270,0.00,0.00,257
18292,16412,2000,Ford,Ranger 2WD FFV,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Manual 5-Speed,NaN,0,FLEX-FUEL,...,0,0,0,0,0.0,0.0,240/290/290,0.00,0.00,273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38033,38531,2017,Toyota,Prius Prime,Midsize Cars,Front-Wheel Drive,Automatic (variable gear ratios),NaN,108,PHEV,...,83,73,78,0,0.0,0.0,25,27.10,22.82,25
38042,38291,2017,Toyota,Sequoia 4WD FFV,Standard Sport Utility Vehicle 4WD,Part-time 4-Wheel Drive,Automatic (S6),NaN,8,FFV,...,0,0,0,0,0.0,0.0,264,0.00,0.00,264
38054,38122,2017,Toyota,Tundra 2WD FFV,Standard Pickup Trucks 2WD,Rear-Wheel Drive,Automatic (S6),NaN,9,FFV,...,0,0,0,0,0.0,0.0,290/418,0.00,0.00,354
38057,38127,2017,Toyota,Tundra 4WD FFV,Standard Pickup Trucks 4WD,Part-time 4-Wheel Drive,Automatic (S6),NaN,10,FFV,...,0,0,0,0,0.0,0.0,264/380,0.00,0.00,322
38111,37703,2017,Volvo,XC90 AWD PHEV,Standard Sport Utility Vehicle 4WD,All-Wheel Drive,Automatic (S8),NaN,54,SIDI; PHEV,...,29,32,30,0,0.0,0.0,14,13.84,13.30,14

Now that I've computed Range (FT2) averages where necessary, and converted null values to zeroes, I now have a clean column that contains a single data type, int64:

In [232]:
df.dtypes

Vehicle ID               int64
Year                     int64
Make                    object
Model                   object
Class                   object
                        ...
Highway Range (FT1)    float64
Range (FT2)             object
City Range (FT2)       float64
Highway Range (FT2)    float64
Range (FT2) Clean        int64
Length: 82, dtype: object

In [187]:
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                   Nulls  Valids
Fuel Type 2                        36675    1438
Gas Guzzler Tax                    35817    2296
Alternative Fuel/Technology        35066    3047
Turbocharger                       32874    5239
Start Stop Technology              31670    6443
...                                  ...     ...
Unadjusted City MPG (FT1)              0   38113
Highway Utility Factor                 0   38113
Highway Electricity Consumption        0   38113
Highway Gasoline Consumption (CD)      0   38113
Highway Range (FT2)                    0   38113

[81 rows x 2 columns]

In [188]:
df['Fuel Type 2'].unique()

array([nan, 'Natural Gas', 'E85', 'Propane', 'Electricity'], dtype=object)

Fuel Type 2 null values can be replaced with "None". Not all vehicles will have an alternate fuel type that they can use:

In [189]:
df['Fuel Type 2'].fillna('None', inplace=True)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                   Nulls  Valids
Gas Guzzler Tax                    35817    2296
Alternative Fuel/Technology        35066    3047
Turbocharger                       32874    5239
Start Stop Technology              31670    6443
Manufacturer Code                  30794    7319
...                                  ...     ...
Unadjusted City MPG (FT1)              0   38113
Highway Utility Factor                 0   38113
Highway Electricity Consumption        0   38113
Highway Gasoline Consumption (CD)      0   38113
Highway Range (FT2)                    0   38113

[81 rows x 2 columns]

In [190]:
df['Gas Guzzler Tax'].unique()

array([nan, 'T', 'G', 'S'], dtype=object)

[FuelEconomy.gov](https://www.fueleconomy.gov/feg/ws/#emissions) states that for the **Gas Guzzler Tax** column, vehicles with "G" or "T" values are subject to the gas guzzler tax. However, the website does not mention what "S" denotes in this case. I will follow my usual convention of converting null values to "None".

In [191]:
df['Gas Guzzler Tax'].fillna('None', inplace=True)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                   Nulls  Valids
Alternative Fuel/Technology        35066    3047
Turbocharger                       32874    5239
Start Stop Technology              31670    6443
Manufacturer Code                  30794    7319
Transmission Descriptor            23068   15045
...                                  ...     ...
Unadjusted City MPG (FT1)              0   38113
Highway Utility Factor                 0   38113
Highway Electricity Consumption        0   38113
Highway Gasoline Consumption (CD)      0   38113
Highway Range (FT2)                    0   38113

[81 rows x 2 columns]

In [233]:
df['Alternative Fuel/Technology'].unique()

array([nan, 'Diesel', 'CNG', 'EV', 'Bifuel (CNG)', 'FFV', 'Hybrid',
       'Bifuel (LPG)', 'Plug-in Hybrid'], dtype=object)

According to [FuelEconomy.gov](https://www.fueleconomy.gov/feg/ws/#emissions), the **Alternative Fuel/Technology** column refers to the type of "alternative fuel or advanced technology vehicle".

- Bifuel (CNG) - Bi-fuel gasoline and compressed natural gas vehicle
- Bifuel (LPG) - Bi-fuel gasoline and propane vehicle
- CNG - Compressed natural gas vehicle
- Diesel - Diesel vehicle
- EV - Electric vehicle
- FFV - Flexible fueled vehicle (gasoline or E85)
- Hybrid - Hybrid vehicle
- Plug-in Hybrid - Plug-in hybrid vehicle

Vehicles without any values for this column do not have these features. I will replace the null values with "None".

In [234]:
df['Alternative Fuel/Technology'].fillna('None', inplace=True)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                   Nulls  Valids
Turbocharger                       32874    5239
Start Stop Technology              31670    6443
Manufacturer Code                  30794    7319
Transmission Descriptor            23068   15045
Engine Descriptor                  15420   22693
...                                  ...     ...
Unadjusted City MPG (FT1)              0   38113
Highway Utility Factor                 0   38113
Highway Electricity Consumption        0   38113
Highway Gasoline Consumption (CD)      0   38113
Range (FT2) Clean                      0   38113

[82 rows x 2 columns]

In [235]:
df['Turbocharger'].unique()

array([nan, 'T'], dtype=object)

The **Turbocharger** column is analogous to the Supercharger column above. In this case, "T" indicates that the vehicle is turbocharged. Similar to what I did for Supercharger, I will denote non-turbocharged vehicles as "NT".

In [236]:
df['Turbocharger'].fillna('NT', inplace=True)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                   Nulls  Valids
Start Stop Technology              31670    6443
Manufacturer Code                  30794    7319
Transmission Descriptor            23068   15045
Engine Descriptor                  15420   22693
Drive                               1189   36924
...                                  ...     ...
Highway Utility Factor                 0   38113
Highway Electricity Consumption        0   38113
Highway Gasoline Consumption (CD)      0   38113
Unrounded Highway MPG (FT2)            0   38113
Range (FT2) Clean                      0   38113

[82 rows x 2 columns]

In [237]:
df['Start Stop Technology'].unique()

array([nan, 'N', 'Y'], dtype=object)

In [241]:
df[df['Start Stop Technology'].isnull()]['Year'].max()

2012

According to FuelEconomy.gov, the **Start-Stop Technology** field is left blank for older vehicles. The latest model year for vehicles with null values is 2012. However, according to the [Wikipedia page](https://en.wikipedia.org/wiki/Start-stop_system#History) for this technology, there were vehicles using a version of this technology as early as 1974, so I can't just assume that all older models lacked this feature. Given that the original data treats "no" and "unknown" as categorically different, I will replace the nulls with "Unknown".

In [242]:
df['Start Stop Technology'].fillna('Unknown', inplace=True)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                   Nulls  Valids
Manufacturer Code                  30794    7319
Transmission Descriptor            23068   15045
Engine Descriptor                  15420   22693
Drive                               1189   36924
Engine Cylinders                     136   37977
...                                  ...     ...
Highway Utility Factor                 0   38113
Highway Electricity Consumption        0   38113
Highway Gasoline Consumption (CD)      0   38113
Unrounded Highway MPG (FT2)            0   38113
Range (FT2) Clean                      0   38113

[82 rows x 2 columns]

In [243]:
df['Manufacturer Code'].unique()

array([nan, 'GMX', 'HNX', 'ASX', 'BMX', 'CRX', 'FEX', 'FMX', 'JCX', 'KMX',
       'LTX', 'MBX', 'NSX', 'PRX', 'RII', 'SAX', 'TYX', 'SKR', 'ADX',
       'VWX', 'AZD', 'BEX', 'BGT', 'BYD', 'CDA', 'FSK', 'HYX', 'NLX',
       'LRX', 'MAX', 'TKX', 'MLN', 'DSX', 'MTX', 'RRG', 'FJX', 'SKX',
       'TSL', 'VVX', 'TVP', 'JLX', 'MBV', 'PGN', 'FTG', 'VGA', 'QTM'],
      dtype=object)

In [274]:
man_codes = df[df['Manufacturer Code'].notnull()][['Make','Manufacturer Code']].groupby(by='Make').describe()
man_codes.sort_values(by=('Manufacturer Code', 'unique'), ascending=False)

                      Manufacturer Code
                                  count unique  top freq
Make
Volkswagen                          210      4  VGA  108
Bentley                              46      4  VGA   24
Audi                                249      3  VGA  128
Lamborghini                          34      3  VGA   16
Chevrolet                           516      3  GMX  511
Suzuki                               37      2  SKX   33
Saab                                 27      2  SAX   21
Alfa Romeo                            6      2  CRX    5
Bugatti                               4      2  BGT    3
Land Rover                           60      2  JLX   46
Jaguar                              124      2  JLX   97
Mitsubishi                          107      2  MTX  101
Pagani                                2      1  PGN    2
Nissan                              291      1  NSX  291
Acura                                81      1  HNX   81
Mobility Ventures LLC                 2      1  MBV    2
Porsche                             339      1  PRX  339
Mercedes-Benz                       463      1  MBX  463
McLaren Automotive                   13      1  MLN   13
Pontiac                               2      1  GMX    2
SRT                                   2      1  CRX    2
Ram                                  49      1  CRX   49
Rolls-Royce                          42      1  RRG   42
Roush Performance                    20      1  RII   20
Maybach                               9      1  MBX    9
Scion                                42      1  TYX   42
Spyker                                1      1  SKR    1
Subaru                              128      1  FJX  128
Tesla                                42      1  TSL   42
Toyota                              338      1  TYX  338
VPG                                   3      1  TVP    3
Volvo                               114      1  VVX  114
Mazda                               142      1  TKX  142
Lexus                               167      1  TYX  167
Maserati                             36      1  MAX   36
Fiat                                 51      1  CRX   51
Aston Martin                         48      1  ASX   48
Azure Dynamics                        2      1  AZD    2
BMW                                 619      1  BMX  619
BYD                                   4      1  BYD    4
Buick                               102      1  GMX  102
CODA Automotive                       2      1  CDA    2
Cadillac                            174      1  GMX  174
Chrysler                             76      1  CRX   76
Dodge                               201      1  CRX  201
Ferrari                              81      1  FEX   81
Fisker                                1      1  FSK    1
MINI                                231      1  BMX  231
Ford                                513      1  FMX  513
GMC                                 289      1  GMX  289
Genesis                               7      1  HYX    7
Honda                               183      1  HNX  183
Hyundai                             241      1  HYX  241
Infiniti                            160      1  NSX  160
Jeep                                193      1  CRX  193
Kia                                 236      1  KMX  236
Lincoln                             115      1  FMX  115
Lotus                                20      1  LTX   20
smart                                22      1  MBX   22

Most makes correspond with a single **Manufacturer Code**. For makes with more than one, it makes sense to use the more frequent value. I can do this by mapping. If the list of null manufacturers codes contains makes that are not in this list, I will use "Unknown" instead.

In [317]:
top_codes = dict(man_codes[('Manufacturer Code', 'top')])
top_codes

{'Acura': 'HNX',
 'Alfa Romeo': 'CRX',
 'Aston Martin': 'ASX',
 'Audi': 'VGA',
 'Azure Dynamics': 'AZD',
 'BMW': 'BMX',
 'BYD': 'BYD',
 'Bentley': 'VGA',
 'Bugatti': 'BGT',
 'Buick': 'GMX',
 'CODA Automotive': 'CDA',
 'Cadillac': 'GMX',
 'Chevrolet': 'GMX',
 'Chrysler': 'CRX',
 'Dodge': 'CRX',
 'Ferrari': 'FEX',
 'Fiat': 'CRX',
 'Fisker': 'FSK',
 'Ford': 'FMX',
 'GMC': 'GMX',
 'Genesis': 'HYX',
 'Honda': 'HNX',
 'Hyundai': 'HYX',
 'Infiniti': 'NSX',
 'Jaguar': 'JLX',
 'Jeep': 'CRX',
 'Kia': 'KMX',
 'Lamborghini': 'VGA',
 'Land Rover': 'JLX',
 'Lexus': 'TYX',
 'Lincoln': 'FMX',
 'Lotus': 'LTX',
 'MINI': 'BMX',
 'Maserati': 'MAX',
 'Maybach': 'MBX',
 'Mazda': 'TKX',
 'McLaren Automotive': 'MLN',
 'Mercedes-Benz': 'MBX',
 'Mitsubishi': 'MTX',
 'Mobility Ventures LLC': 'MBV',
 'Nissan': 'NSX',
 'Pagani': 'PGN',
 'Pontiac': 'GMX',
 'Porsche': 'PRX',
 'Ram': 'CRX',
 'Rolls-Royce': 'RRG',
 'Roush Performance': 'RII',
 'SRT': 'CRX',
 'Saab': 'SAX',
 'Scion': 'TYX',
 'Spyker': 'SKR',
 'Subaru': 'FJX',
 'Suzuki': 'SKX',
 'Tesla': 'TSL',
 'Toyota': 'TYX',
 'VPG': 'TVP',
 'Volkswagen': 'VGA',
 'Volvo': 'VVX',
 'smart': 'MBX'}

In [320]:
df['Manufacturer Code Clean'] = np.where(df['Manufacturer Code'].isnull(), df['Make'].map(top_codes) ,df['Manufacturer Code'])

In [323]:
df[df['Manufacturer Code Clean'].isnull()]

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,...,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),Range (FT2),City Range (FT2),Highway Range (FT2),Range (FT2) Clean,Manufacturer Code Clean
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1830,(FFS),...,0,0,0,0.0,0.0,0,0.0,0.0,0,NaN
5,28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1880,(FFS) CA model,...,0,0,0,0.0,0.0,0,0.0,0.0,0,NaN
6,27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1831,(FFS),...,0,0,0,0.0,0.0,0,0.0,0.0,0,NaN
7,28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1881,(FFS) CA model,...,0,0,0,0.0,0.0,0,0.0,0.0,0,NaN
8,27593,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Automatic 3-Speed,NaN,1524,(FFS),...,0,0,0,0.0,0.0,0,0.0,0.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30513,30361,2011,Mercury,Milan FWD,Midsize Cars,Front-Wheel Drive,Automatic 6-Speed,NaN,57,NaN,...,0,0,0,0.0,0.0,0,0.0,0.0,0,NaN
30514,30363,2011,Mercury,Milan FWD,Midsize Cars,Front-Wheel Drive,Manual 6-Speed,NaN,63,NaN,...,0,0,0,0.0,0.0,0,0.0,0.0,0,NaN
30515,30375,2011,Mercury,Milan FWD FFV,Midsize Cars,Front-Wheel Drive,Automatic (S6),NaN,280,FFV,...,0,0,0,0.0,0.0,278,0.0,0.0,278,NaN
30516,30370,2011,Mercury,Milan Hybrid FWD,Midsize Cars,Front-Wheel Drive,Automatic (variable gear ratios),NaN,81,NaN,...,0,0,0,0.0,0.0,0,0.0,0.0,0,NaN
30517,30374,2011,Mercury,Milan S FWD,Midsize Cars,Front-Wheel Drive,Manual 6-Speed,NaN,191,NaN,...,0,0,0,0.0,0.0,0,0.0,0.0,0,NaN

This reduced the number of nulls from over 30,000 to around 3,000. The remaining 3,000 nulls correspond to vehicles whose make was not in the top_codes list. I will replace them with "Unknown" then drop the old Manufacturer Code column:

In [330]:
df['Manufacturer Code Clean'].fillna('Unknown', inplace=True)
df = df.drop('Manufacturer Code', axis=1)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                   Nulls  Valids
Transmission Descriptor            23068   15045
Engine Descriptor                  15420   22693
Drive                               1189   36924
Engine Cylinders                     136   37977
Engine Displacement                  134   37979
...                                  ...     ...
Highway Utility Factor                 0   38113
Highway Electricity Consumption        0   38113
Highway Gasoline Consumption (CD)      0   38113
Unrounded Highway MPG (FT2)            0   38113
Manufacturer Code Clean                0   38113

[82 rows x 2 columns]

In [331]:
df['Transmission Descriptor'].unique()

array([nan, 'Creeper', 'SIL', 'Overdrive', 'Lockup', 'VLKUP', '2MODE',
       '2MODE 2LKUP', '3LKUP', '2LKUP', 'CLKUP', '2MODE 3LKUP',
       'fuel injection', 'SIL Creeper', 'DC/FW', 'Lockup A3',
       '2MODE CLKUP', 'EMS 2MODE CLKU', 'EMS', '3MODE VLKUP', '4MODE',
       '3MODE CLKUP', 'SIL CMODE', '2MODE VLKUP', 'EMS 2MODE CLKUP',
       'EMS 5MODE', 'EMS 2MODE', '2MODE DC/FW', 'Elec Overdrive',
       'Mech Overdrive', '3MODE', 'CMODE', 'EMS 3MODE', '2MODE CLKUP FW',
       '3MODE 2LKUP', 'VMODE CLKUP', 'EMS CLKUP', 'EMS CMODE CLKUP',
       'SIL CLKUP', 'CMODE CLKUP', 'VMODE', 'EMS 3MODE CLKUP',
       '4MODE CLKUP', '6MODE', 'SIL EMS', 'VMODE VLKUP', '6MODE CLKUP',
       'SIL 3MODE', 'LONG RATIO', 'CMODE VLKUP', 'SIL 3MODE CLKUP',
       '3MODE CLKUP FW', 'SIL 2MODE CLKUP'], dtype=object)

Descriptions of Transmission Descriptors can be found on [FuelEconomy.gov](https://www.fueleconomy.gov/feg/findacarhelp.shtml#trany). Missing values can be replaced with "Unknown":

In [332]:
df['Transmission Descriptor'].fillna('Unknown', inplace=True)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                   Nulls  Valids
Engine Descriptor                  15420   22693
Drive                               1189   36924
Engine Cylinders                     136   37977
Engine Displacement                  134   37979
Transmission                          11   38102
...                                  ...     ...
Highway Utility Factor                 0   38113
Highway Electricity Consumption        0   38113
Highway Gasoline Consumption (CD)      0   38113
Unrounded Highway MPG (FT2)            0   38113
Manufacturer Code Clean                0   38113

[82 rows x 2 columns]

In [333]:
df['Engine Descriptor'].unique()

array(['(FFS)', '(FFS) CA model', '(FFS)(SIL) CA model', '(GUZZLER)',
       '(GUZZLER) CA model', '(FFS,TRBO)', '(FFS,TRBO) CA model',
       '(DIESEL)', '(DIESEL) CA model', '(CAL,FFS)', '(CAL)(FFS)',
       '(GM-OLDS)', '(350 V8) (DIESEL)', '(GM-OLDS) CA model',
       '(GM-BUICK)', '(GM-BUICK) CA model', nan, '(GM-CHEV)',
       '(GM-CHEV) CA model', '(350 V8) (FFS) CA model', '(FFS)(SIL)',
       '(350 V8) (FFS)', '(350 V8)', 'DIESEL CA model', 'CA model',
       '(CALIF)', '(DSL,TRBO)', '(DSL,TRBO) CA model', '(CALIF) CA model',
       '(FFS,MPFI) CA model', '(FFS,SPFI) CA model', '(GUZZLER)  (FFS)',
       '(GM-OLDS)  (FFS) CA model', '(GM-OLDS)  (FFS)',
       '(FFS/TRBO) CA model', '(FFS/TRBO)', '(GM-CHEV)  (FFS) CA model',
       '(GM-CHEV)  (FFS)', '(350 V8) (POLICE)   (FFS)',
       '(CALIF)    (FFS,TRBO)', '(POLICE)   (FFS)',
       '(FFS) Fuel Injection', '(GUZZLER)  (TURBO)',
       '(GUZZLER)  (TURBO) CA model', '(ROTARY) CA model', '(ROTARY)',
       '(CALIF)    (DSL,TRBO)', '(GUZZLER)  (FFS) CA model',
       '(GUZZLER)  (FFS,TRBO)', '(TURBO)', '(FFS)      (MPFI)',
       '(DSL,TRBO) (NO-CAT)', '(GUZZLER)  (FFS)      (MPFI)',
       '(307)      (FFS)', '-305', '(305)      (FFS)', '(NO-CAT)',
       '(FFS,TRBO) (MPFI)', '(GUZZLER)             (FFS)',
       '(FFS)      (SPFI)', '(DSL,TRBO) (MPFI)     (NO-CAT)',
       '(16-VALVE) (FFS)      (MPFI)', '(MPFI)     (NO-CAT)',
       '(FFS TURBO)', '(FFS)      (GUZZLER)', '16-VALVE   (FFS)',
       '(16-VALVE) (FFS,TRBO)', '(OHV)', '(OHV)      (FFS)',
       '(OHC)      (FFS)', '(OHC)', '(16-VALVE) (FFS)',
       '(FFS)      (FFS)', '(GUZZLER) (GUZZLER)', '(122)      (FFS)',
       '(FFS) 4 barrel carb', '(FFS) fuel injection', '(GM-CHEV) (FFS)',
       '(FFS) Lock-up', 'N          (FFS)', '(FFS) (DIESEL) (NO-CAT)',
       'Lock-up', '(FFS) 2 barrel carb', '(POLICE)   (FFS) 2 barrel carb',
       '(POLICE)   (FFS) 4 barrel carb', '(GUZZLER)  (GM-CHEVY) (FFS)',
       '(FFS) 3 barrel carb', '(FFS,DOHC)', 'B202       (FFS)',
       'B202       (FFS,TRBO)', 'B201       (FFS)',
       '(A-ENGINE) (FFS,TRBO)', '(B-ENGINE) (FFS,TRBO)',
       '(C-ENGINE) (FFS)      (MPFI)', '(3S-GE)    (FFS)',
       '(GUZZLER)  (VOLVO780) (FFS)', '(VOLVO760) (FFS)',
       '(121)      (FFS)', '(16 VALVE) (FFS)      (MPFI)',
       '(B202)     (FFS)', '(B201)     (FFS)', '(B202)     (FFS,TRBO)',
       '(3S-FE)    (FFS)', '(3S-GTE)   (FFS,TRBO)', '(4A-F)     (FFS)',
       '(4A-FE)    (FFS)', '(4A-LC)    (FFS)', '(TURBO)    (FFS,TRBO)',
       '(FFS)      (S-CHARGE)', 'GMP4       (FFS,TRBO) (MPFI)',
       '(GMP4+IC)  (FFS,TRBO) (MPFI)', '(GMP4)     (FFS,TRBO) (MPFI)',
       '(SOHC)     (FFS)', '(DOHC)     (FFS)',
       'CALIF. ECS (FFS)      (MPFI)', '16-VALVE   (FFS)      (MPFI)',
       '16-V, CAL. (FFS)      (MPFI)', '(GUZZLER)  (FFS,TRBO) (MPFI)',
       '(4A-GE)    (FFS)', '(EGR)      (FFS)', '(BENDIX)   (FFS)',
       '(20-VALVE) (FFS)', '(350 V8) (GUZZLER)  (FFS)',
       '(GM-CHEV)  (FFS)      (MPFI)', '(GM-CHEV)  (FFS)      (SPFI)',
       '(350 V8) (FFS)  (MPFI)', '(FFS,TRBO) (SPFI)',
       '(350 V8) (GUZZLER)  (FFS,TRBO)', '(FFS) (SPFI)', '(FFS)   FI',
       'GMP4 ANDIC (FFS,TRBO) (MPFI)', 'JEE        (FFS)',
       'JED        (FFS)', 'BPE        (FFS)', 'BPD        (FFS)',
       '(GUZZLER) FFS MPFI (FFS)', 'SOHC       (FFS)',
       '(FFS) 1 barrel carb', '(EGR) (FFS)', '(FFS) BOSCH',
       '(LH-3.1) (FFS)', '(BOSCH) (FFS)', '(FFS) (MPFI)',
       '164/164L   (FFS)      (MPFI)', '164S       (FFS)      (MPFI)',
       '(20-VALVE) (FFS,TRBO)', '(DIESEL) (NO-CAT)',
       '(DOHC)     (FFS,TRBO)', '(GUZZLER) (FFS)',
       'ELAN TURBO (FFS,TRBO)', '(FFS)      (ROTARY)',
       '(FFS,TRBO) (ROTARY)', '(GUZZLER)  FFS MPFI   (FFS)',
       '(SPG)      (FFS,TRBO)', '(GUZZLER)  (GUZZLER)  (FFS)',
       '(GUZZLER)  5 SERIES   (FFS)', '(2-VALVE)  (FFS)',
       '(4-VALVE)  (FFS)', '(FFS) (SPFI)  FI', 'DOHC TURBO (FFS,TRBO)',
       'DOHC       (FFS)', 'SOHC-4 4WD (FFS)', 'SOHC  4WD  (FFS)',
       'SOHC-4 2WD (FFS)', 'SOHC  2WD  (FFS)', '(8-VALVE)  (FFS)',
       'B6E2       (FFS)', 'B6E4       (FFS)', 'K8D        (FFS)',
       'B6D        (FFS)', 'BPE/SOHC   (FFS)', 'BPD/DOHC   (FFS)',
       '(FFS) DOHC', '(FFS) SOHC', '(SPFI)', '(PRE-CAT) (FFS)',
       '(164S)     (FFS)      (MPFI)',
       '(350 V8) (GUZZLER) (POLICE) (FFS)', 'SOHC-4     (FFS)',
       '(POLICE) (FFS)', '(VTEC)     (FFS)', '2VALVE     (FFS)',
       '4VALVE     (FFS)', 'V6-SOHC    (FFS)', '(4- VALVE) (FFS)',
       'R-ENG (FFS,TRBO)', '(GUZZLER) (FFS) (S-CHARGE)',
       '(TBI)      (FFS)', '(MFI)      (FFS)', 'DOHC-VTEC  (FFS)',
       '(PRE-CAT)  (FFS)', '(FFS)      (MPFI)     (S-CHARGE)',
       '(4-VALVE)  (FFS)      (MPFI)', '(MPFI)     (TURBO)', '(MPFI)',
       '(16VALVES) (FFS)', '(GUZZLER) (FFS) (MPFI)',
       'ESPRIT     (FFS,TRBO) (MPFI)', '2 VALVES   (FFS)',
       '4 VALVES   (FFS)', 'V6DOHC     (FFS)', 'DOHC-4     (FFS)',
       '(V6-DOHC)  (FFS)', '(2 VALVE)  (FFS)      (MPFI)',
       'PRE-CAT    (FFS)', '(DSL,TRBO) (MPFI)', '(350 V8) (FFS)   FI',
       'SOHC-V6    (FFS)', 'SOHC-3     (FFS)', 'VTEC       (FFS)',
       'EGR/2-VLV  (FFS)', 'EGR/4-VLV  (FFS)', 'DOHC/VTEC  (FFS)',
       'V-6        (FFS)', 'SOHC V-6   (FFS)',
       'V-6        (FFS)      (S-CHARGE)', 'DOHC V-6   (FFS)',
       'DOHC I-4   (FFS)', 'SOHC I-4   (FFS)', 'SOHC-4 (FFS)',
       'V6-SOHC-4  (FFS)', 'V6-SOHC-2  (FFS)', 'V6-DOHC    (FFS)',
       '(FFS,TRBO) Low Boost', '(FFS)      (VARIABLE)',
       '(FFS)      (MPFI) DOHC', '(FFS)      (MPFI) SOHC',
       '(GUZZLER)  (FFS)      (S-CHARGE)', 'I-4        (FFS)',
       '(GUZZLER)  (L410MTKT) (FFS,TRBO)', '(GUZZLER)  (L410MNKT) (FFS)',
       'B234I3 (FFS)', 'B258I3 (FFS)', 'B204L3 (FFS,TRBO)',
       'B308I4 (FFS) (VARIABLE)', 'B234E4 (FFS,TRBO) High Power',
       'B234E4 (FFS,TRBO)', 'B234L/R4 (FFS,TRBO)',
       '(GUZZLER)  ASTON-DB7  (FFS)', '(NGV)      (FFS)',
       '4V         (FFS)', '(4-VLV)    (FFS)', 'VTEC-E     (FFS)',
       'SOHC-2     (FFS)', 'S0HC-4     (FFS)', '(SOHC) (FFS)  FI',
       '(GUZZLER)  (L410MT2)  (FFS,TRBO)', '(GUZZLER)  (L410MN2)  (FFS)',
       'B204L3     (FFS,TRBO)', 'B234I3     (FFS)', 'B258I3     (FFS)',
       'B234E4     (FFS,TRBO)', 'B234L/R4   (FFS,TRBO)',
       'B308I4     (FFS)', 'DOHC       (FFS)      (MPFI)',
       'SOHC       (FFS)      (MPFI)', 'SOHC VTEC', 'V6', 'SOHC L-5',
       'SOHC V-6', 'DOHC', 'DOHC-VTEC', 'DOHC VTEC', 'V-6', 'ASTON-DB7',
       'L410MT2', 'Lead Acid', 'NiMH', 'SOHC', 'SOHC-IL4', 'DOHC-IL4',
       'DOHC-T/C', '4.6N', 'GUZZLER POLICE 4.6N', '4V', 'MFFV-GAS',
       'EFFV-GAS', '2V', '3.0E-F', '3.8E-F', 'SOHC-VTEC', 'CNG', 'VTEC-E',
       'L-4', 'V8', '3.0N-F', 'NONE FFS', 'B234R4', 'B204L3 FFS,TURBO',
       'B234I3', 'VTEC', '44RA8', 'FFS', 'POLICE FFS MPFI',
       '(350 V8) POLICE FFS MPFI', 'FFV', 'GUZZLER  FFS', 'NGV', 'POLICE',
       '5.4E-R FFS MPFI', '3.8N', '4.6M FFS MPFI', 'CNG FFS', 'V-6 FFS',
       'GUZZLER V8 FFS,TURBO', 'DOHC TURBO', 'DOHC-TC', '54RA12',
       'B204L3', 'B2O4L3', 'B2O4R3', 'B235E5 FFS,TURBO', 'B235E5',
       'B308E5', 'B308E5 FFS,TURBO', 'FFS,TURBO', 'GUZZLER', 'NONE',
       'Gasoline only', 'Flex Fuel (E85)', '(FFS) (MPFI)  FI',
       'FLEX-FUEL', '2.0Z', '2.5M', 'NG', '4.2E-R', '4.6E-R', '5.4E-R',
       '2.0L CVH', '0.00046', '0.00054', '5.0E-R', '4.0E-R', '0.0005',
       '4.0S-4 SOHC', '0.0004', '0.00042', '5.4S/C', 'EX2US40E5G',
       '2.5E-R', '3.0L 2V', '3.0M', '3.0W-F', '4.6W', 'SELECT SFT',
       '3.9L4V-N', '3', '5.4V-R', '5.4V-4', '4.0S-4', '3.3N-F', '4.6M',
       'B205R', 'B205L', 'B235R', 'B235E', 'B308E', 'POLICE  FFS',
       'FLEX FUEL', 'CNG RNG180', 'RNG140/220', 'RNG200/300', 'RNG250',
       '4 valve', '4V DOHC', 'FFS MPFI', 'SUPERCHR', '4 VALVE',
       'SOHC FFS', 'GUZZLER POLICE', 'AWD', 'RNG=290', 'SUPER-CHGD',
       '4-Valve', '2-Valve', 'I4', 'GUZZLER  FFS,TURBO', 'GUZZLER V8 FFS',
       'VTC/VTEC', 'LM7', 'RNG130/170', '4-VALVE', 'IN COMMENT',
       'BI-FUEL', 'SUPERCHRGD', '2-VALVE', '2 VALVE', 'SPORT',
       'LEAN-BURN', 'COUPE', '448S', 'SST', 'DSL, TRBO', 'SPORTS',
       'B207L', 'B207R', 'MOTORSPORT', 'SC', 'STS/DTS', 'RNG=250',
       'RNG=120', '3-VALVE', '200', 'LEAN BURN', 'MIATA T/C', 'GAS 360',
       'GTS-VIS', 'GT/GTS-VIS', '2-MODE', 'B235L', 'LPT', 'SOHC 4',
       '275HP', '300HP', 'DOD', 'HEV', 'HEV LB', 'SOHC-VIS', 'DVVT',
       'new body style', 'E2.0LAA', 'E2.5CAB', 'E2.0LMA', 'E2.5CMB',
       'LK9', '275 hp', '275 HP', '300 HP', 'GAS 420 FFS', 'VCM',
       'SMG TRANS', '500', '275', 'AFM', '530', '460', '400-425',
       '470-610', '440-580', '420-540', 'GAS 420', 'RNG=380', 'RNG=420',
       'RNG=390', '4.0N', 'RNG=200', 'CVT2L', 'MAZDA3 T/C', 'MAZDA6 T/C',
       'GAS 410', 'GAS 400', 'RNG420', 'DCT TRANS', 'Direct Injection',
       'DIRECTINJ', '390-540', '440-470', '430-470', '320/510', '320-500',
       'GAS 330', 'GAS 370', 'GAS 350', 'GAS 380', 'RNG=340',
       'RNG=390/400', 'RNG=170', 'GAS 340', 'GAS 440', 'RNG390',
       'RNG390/520', 'Sold at Ford dealerships',
       'Dual clutch transmission', 'DI', '255HP', '450', '430', 'RNG=360',
       'RNG=450', 'GAS 430', 'RNG=370', 'RNG=400', 'SIDI', 'PR',
       'FFV; Active Fuel Management', 'AWD (All Wheel Drive)',
       'SIDI; Short Wheelbase', 'SIDI; Long Wheelbase',
       'Off Road Package', 'Hybrid; PR', 'Hybrid', 'FFV; PR',
       'Full Time 4WD', 'Part Time 4WD', '63 and 67 motor/generators',
       'SIDI; FFV', 'PHEV', 'SIDI; with Stop-Start option',
       'Coupe or Conv.', 'Part-time 4-Wheel Drive', 'Off-road Package',
       'Full time 4WD', 'Part time 4WD', 'SIDI; FFV; Sport Transmission',
       'Cabrio model', 'FFV; Part-time 4-Wheel Drive',
       'SIDI; Select shift transmission', 'RNG=190', 'FFV; Cargo Van',
       'SIDI;', 'SIDI; with Stop-Start Option', 'Sport Transmission',
       'SIDI; with Stop/Start Technology', 'Shelby GT500; Coupe or Conv.',
       'RNG=193', 'SIDI & PFI', 'SIDI; PZEV (SULEV) Emissions',
       'SIDI; PZEV(SULEV) emissions', 'SIDI; PZEV (SULEV) emissions',
       'California Emission Control System',
       '3-mode (Power/Normal/Eco) Transmission', 'SIDI; PHEV', 'RNG=192',
       'SIDI; with i-ELOOP Technology Package', 'SIDI; ULEV Emissions',
       'California emission control system',
       '2-mode (Normal/Eco) Transmission', 'Z/28', 'SIDI; Z06',
       'Hellcat engine', 'SIDI; Stop-Start',
       'SIDI; Over 6000 lbs curb weight', 'Part-time 4WD',
       'SIDI; eAssist', 'SIDI; Ecoboost; GVWR>6649 LBS',
       'SIDI; Ecoboost; GVWR>6799 LBS', 'SIDI; Ecoboost; GVWR>7599 LBS',
       'FFV; GVWR>7599 LBS', 'SIDI; Ecoboost',
       'SIDI & PFI; with Off Road Package',
       'SIDI                                   S',
       'PHEV; 94 Amp-hour battery', 'SIDI; Hybrid', 'Stop-Start',
       'SIDI & PFI; Stop-Start'], dtype=object)

Likewise, missing [Engine Descriptors](https://www.fueleconomy.gov/feg/findacarhelp.shtml#engine) can also be replaced with "Unknown":

In [334]:
df['Engine Descriptor'].fillna('Unknown', inplace=True)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                   Nulls  Valids
Drive                               1189   36924
Engine Cylinders                     136   37977
Engine Displacement                  134   37979
Transmission                          11   38102
Fuel Economy Score                     0   38113
...                                  ...     ...
Highway Electricity Consumption        0   38113
Highway Gasoline Consumption (CD)      0   38113
Unrounded Highway MPG (FT2)            0   38113
Highway MPG (FT2)                      0   38113
Manufacturer Code Clean                0   38113

[82 rows x 2 columns]

In [336]:
df['Drive'].unique()

array([nan, '2-Wheel Drive', '4-Wheel or All-Wheel Drive',
       'Rear-Wheel Drive', 'Front-Wheel Drive', '4-Wheel Drive',
       'All-Wheel Drive', 'Part-time 4-Wheel Drive'], dtype=object)

The **Drive** column corresponds to the vehicles drive axle type:
- 2-Wheel Drive
- 4-Wheel Drive*
- 4-Wheel or All-Wheel Drive*
- All-Wheel Drive*
- Front-Wheel Drive
- Part-time 4-Wheel Drive*
- Rear-Wheel Drive
<br>
<br>

*As a caveat, FuelEconomy.gov notes that before "Model Year 2010, EPA did not differentiate between All Wheel Drive and Four Wheel Drive."*
<br>
<br>

Because all vehicles would have this feature, I will replace nulls in this column with "Unknown".

In [337]:
df['Drive'].fillna('Unknown', inplace=True)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                                   Nulls  Valids
Engine Cylinders                     136   37977
Engine Displacement                  134   37979
Transmission                          11   38102
Fuel Economy Score                     0   38113
Hatchback Passenger Volume             0   38113
...                                  ...     ...
Highway Gasoline Consumption (CD)      0   38113
Unrounded Highway MPG (FT2)            0   38113
Highway MPG (FT2)                      0   38113
Unrounded Highway MPG (FT1)            0   38113
Manufacturer Code Clean                0   38113

[82 rows x 2 columns]

In [342]:
df['Engine Cylinders'].unique()

array([ 6.,  4.,  8.,  5., 12.,  2.,  3., nan, 10., 16.])

For some strange reason, the values in the **Engine Cylinders** column are encoded as floats even though the numbers represent objects that are countable by natural numbers. Rather than introduce strings in this column for null values, I would prefer to encode these unknowns as 0 so that I can perform numeric analysis if needed. I will also convert all floats to integers.

In [356]:
df['Engine Cylinders'] = df['Engine Cylinders'].fillna(0)
df['Engine Cylinders'] = df['Engine Cylinders'].astype(int)
df['Engine Cylinders'].unique()

array([ 6,  4,  8,  5, 12,  2,  3,  0, 10, 16])

In [357]:
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                             Nulls  Valids
Engine Displacement            134   37979
Transmission                    11   38102
Fuel Economy Score               0   38113
Hatchback Passenger Volume       0   38113
4D Luggage Volume                0   38113
...                            ...     ...
Unrounded Highway MPG (FT2)      0   38113
Highway MPG (FT2)                0   38113
Unrounded Highway MPG (FT1)      0   38113
Highway MPG (FT1)                0   38113
Manufacturer Code Clean          0   38113

[82 rows x 2 columns]

In [358]:
df['Engine Displacement'].unique()

array([2.5, 2. , 4.2, 5.3, 1.8, 2.2, 2.1, 5. , 1.5, 2.3, 3. , 2.7, 3.2,
       4.3, 3.8, 5.7, 4.1, 2.8, 6. , 6.2, 1.6, 2.6, 5.2, 5.9, 3.7, 1.4,
       4.9, 5.8, 1.3, 1. , 4.8, 2.4, 1.1, 1.7, 4.7, 6.8, 1.9, 2.9, 3.4,
       nan, 3.9, 5.6, 5.5, 3.3, 3.5, 4. , 1.2, 4.5, 3.6, 3.1, 7.4, 4.6,
       8. , 5.4, 6.5, 4.4, 6.7, 8.3, 6.1, 7. , 8.4, 6.3, 6.6, 6.4, 0.6,
       0. , 0.9])

**Engine Displacement** is "the measure of the cylinder volume swept by all of the pistons of a piston engine, excluding the combustion chambers", according to [Wikipedia](https://en.wikipedia.org/wiki/Engine_displacement). This dataset measures this value in liters. As with the previous column, I will replace null values with 0 so that calculations can be performed.

In [359]:
df['Engine Displacement'].fillna(0, inplace=True)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                             Nulls  Valids
Transmission                    11   38102
Vehicle ID                       0   38113
Fuel Economy Score               0   38113
Hatchback Passenger Volume       0   38113
4D Luggage Volume                0   38113
...                            ...     ...
Unrounded Highway MPG (FT2)      0   38113
Highway MPG (FT2)                0   38113
Unrounded Highway MPG (FT1)      0   38113
Highway MPG (FT1)                0   38113
Manufacturer Code Clean          0   38113

[82 rows x 2 columns]

In [360]:
df['Transmission'].unique()

array(['Manual 5-Speed', 'Automatic 3-Speed', 'Manual 4-Speed',
       'Automatic 4-Speed', 'Manual 3-Speed', 'Manual 4-Speed Doubled',
       nan, 'Automatic (S4)', 'Manual 5 Speed', 'Manual 6-Speed',
       'Automatic (variable gear ratios)', 'Automatic 5-Speed',
       'Automatic (S5)', 'Auto(L4)', 'Auto(L3)', 'Automatic (A1)',
       'Automatic 6-Speed', 'Automatic (S6)', 'Automatic 7-Speed',
       'Automatic (S7)', 'Automatic (S8)', 'Automatic (AV)', 'Auto(AM7)',
       'Automatic (AM5)', 'Auto(AM6)', 'Automatic (AM6)',
       'Automatic (A6)', 'Auto(AV-S7)', 'Manual 7-Speed', 'Auto (AV-S6)',
       'Auto (AV-S8)', 'Automatic (AV-S6)', 'Auto(AV-S6)', 'Auto(AM5)',
       'Auto (AV)', 'Auto(AV-S8)', 'Automatic 8-Speed', 'Auto(AM-S6)',
       'Auto(AM-S7)', 'Automatic 6Speed', 'Automatic 9-Speed',
       'Automatic (S9)', 'Auto(AM-S8)', 'Auto(AM8)', 'Manual(M7)',
       'Auto(AM-S9)', 'Automatic (S10)'], dtype=object)

Null values for **Transmission** can be replaced with "Unknown":

In [361]:
df['Transmission'].fillna('Unknown', inplace=True)
nulls = nulls_to_df(df)
nulls.sort_values(by='Nulls', ascending=False)

                             Nulls  Valids
Vehicle ID                       0   38113
Hatchback Luggage Volume         0   38113
4D Luggage Volume                0   38113
4D Passenger Volume              0   38113
2D Luggage Volume                0   38113
...                            ...     ...
Highway MPG (FT2)                0   38113
Unrounded Highway MPG (FT1)      0   38113
Highway MPG (FT1)                0   38113
City Utility Factor              0   38113
Manufacturer Code Clean          0   38113

[82 rows x 2 columns]

In [365]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Vehicle ID, Year, Make, Model, Class, Drive, Transmission, Transmission Descriptor, Engine Index, Engine Descriptor, Engine Cylinders, Engine Displacement, Turbocharger, Supercharger, Fuel Type, Fuel Type 1, Fuel Type 2, City MPG (FT1), Unrounded City MPG (FT1), City MPG (FT2), Unrounded City MPG (FT2), City Gasoline Consumption (CD), City Electricity Consumption, City Utility Factor, Highway MPG (FT1), Unrounded Highway MPG (FT1), Highway MPG (FT2), Unrounded Highway MPG (FT2), Highway Gasoline Consumption (CD), Highway Electricity Consumption, Highway Utility Factor, Unadjusted City MPG (FT1), Unadjusted Highway MPG (FT1), Unadjusted City MPG (FT2), Unadjusted Highway MPG (FT2), Combined MPG (FT1), Unrounded Combined MPG (FT1), Combined MPG (FT2), Unrounded Combined MPG (FT2), Combined Electricity Consumption, Combined Gasoline Consumption (CD), Combined Utility Factor, Annual Fuel Cost (FT1), Annual Fuel Cost (FT2), Gas Guzzler Tax, Save or Spend (5 Year), Annual Consumption in Barrels (FT1), Annual Consumption in Barrels (FT2), Tailpipe CO2 (FT1), Tailpipe CO2 in Grams/Mile (FT1), Tailpipe CO2 (FT2), Tailpipe CO2 in Grams/Mile (FT2), Fuel Economy Score, GHG Score, GHG Score (Alt Fuel), My MPG Data, 2D Passenger Volume, 2D Luggage Volume, 4D Passenger Volume, 4D Luggage Volume, Hatchback Passenger Volume, Hatchback Luggage Volume, Start Stop Technology, Alternative Fuel/Technology, Electric Motor, Gasoline/Electricity Blended (CD), Vehicle Charger, Alternate Charger, Hours to Charge (120V), Hours to Charge (240V), Hours to Charge (AC 240V), Composite City MPG, Composite Highway MPG, Composite Combined MPG, Range (FT1), City Range (FT1), Highway Range (FT1), Range (FT2), City Range (FT2), Highway Range (FT2), Range (FT2) Clean, Manufacturer Code Clean]
Index: []

[0 rows x 82 columns]

Finally, all columns have had null values removed. However, I still need to inspect the data to ensure that every column has reasonable values.

In [369]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38113 entries, 0 to 38112
Data columns (total 82 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Vehicle ID                           38113 non-null  int64
 1   Year                                 38113 non-null  int64
 2   Make                                 38113 non-null  object
 3   Model                                38113 non-null  object
 4   Class                                38113 non-null  object
 5   Drive                                38113 non-null  object
 6   Transmission                         38113 non-null  object
 7   Transmission Descriptor              38113 non-null  object
 8   Engine Index                         38113 non-null  int64
 9   Engine Descriptor                    38113 non-null  object
 10  Engine Cylinders                     38113 non-null  int32
 11  Engine Displacement                  38113 non-null  float64
 12  Turbocharger                         38113 non-null  object
 13  Supercharger                         38113 non-null  object
 14  Fuel Type                            38113 non-null  object
 15  Fuel Type 1                          38113 non-null  object
 16  Fuel Type 2                          38113 non-null  object
 17  City MPG (FT1)                       38113 non-null  int64
 18  Unrounded City MPG (FT1)             38113 non-null  float64
 19  City MPG (FT2)                       38113 non-null  int64
 20  Unrounded City MPG (FT2)             38113 non-null  float64
 21  City Gasoline Consumption (CD)       38113 non-null  float64
 22  City Electricity Consumption         38113 non-null  float64
 23  City Utility Factor                  38113 non-null  float64
 24  Highway MPG (FT1)                    38113 non-null  int64
 25  Unrounded Highway MPG (FT1)          38113 non-null  float64
 26  Highway MPG (FT2)                    38113 non-null  int64
 27  Unrounded Highway MPG (FT2)          38113 non-null  float64
 28  Highway Gasoline Consumption (CD)    38113 non-null  float64
 29  Highway Electricity Consumption      38113 non-null  float64
 30  Highway Utility Factor               38113 non-null  float64
 31  Unadjusted City MPG (FT1)            38113 non-null  float64
 32  Unadjusted Highway MPG (FT1)         38113 non-null  float64
 33  Unadjusted City MPG (FT2)            38113 non-null  float64
 34  Unadjusted Highway MPG (FT2)         38113 non-null  float64
 35  Combined MPG (FT1)                   38113 non-null  int64
 36  Unrounded Combined MPG (FT1)         38113 non-null  float64
 37  Combined MPG (FT2)                   38113 non-null  int64
 38  Unrounded Combined MPG (FT2)         38113 non-null  float64
 39  Combined Electricity Consumption     38113 non-null  float64
 40  Combined Gasoline Consumption (CD)   38113 non-null  float64
 41  Combined Utility Factor              38113 non-null  float64
 42  Annual Fuel Cost (FT1)               38113 non-null  int64
 43  Annual Fuel Cost (FT2)               38113 non-null  int64
 44  Gas Guzzler Tax                      38113 non-null  object
 45  Save or Spend (5 Year)               38113 non-null  int64
 46  Annual Consumption in Barrels (FT1)  38113 non-null  float64
 47  Annual Consumption in Barrels (FT2)  38113 non-null  float64
 48  Tailpipe CO2 (FT1)                   38113 non-null  int64
 49  Tailpipe CO2 in Grams/Mile (FT1)     38113 non-null  float64
 50  Tailpipe CO2 (FT2)                   38113 non-null  int64
 51  Tailpipe CO2 in Grams/Mile (FT2)     38113 non-null  float64
 52  Fuel Economy Score                   38113 non-null  int64
 53  GHG Score                            38113 non-null  int64
 54  GHG Score (Alt Fuel)                 38113 non-null  int64
 55  My MPG Data                          38113 non-null  object
 56  2D Passenger Volume                  38113 non-null  int64
 57  2D Luggage Volume                    38113 non-null  int64
 58  4D Passenger Volume                  38113 non-null  int64
 59  4D Luggage Volume                    38113 non-null  int64
 60  Hatchback Passenger Volume           38113 non-null  int64
 61  Hatchback Luggage Volume             38113 non-null  int64
 62  Start Stop Technology                38113 non-null  object
 63  Alternative Fuel/Technology          38113 non-null  object
 64  Electric Motor                       38113 non-null  object
 65  Gasoline/Electricity Blended (CD)    38113 non-null  bool
 66  Vehicle Charger                      38113 non-null  object
 67  Alternate Charger                    38113 non-null  object
 68  Hours to Charge (120V)               38113 non-null  int64
 69  Hours to Charge (240V)               38113 non-null  float64
 70  Hours to Charge (AC 240V)            38113 non-null  float64
 71  Composite City MPG                   38113 non-null  int64
 72  Composite Highway MPG                38113 non-null  int64
 73  Composite Combined MPG               38113 non-null  int64
 74  Range (FT1)                          38113 non-null  int64
 75  City Range (FT1)                     38113 non-null  float64
 76  Highway Range (FT1)                  38113 non-null  float64
 77  Range (FT2)                          38113 non-null  object
 78  City Range (FT2)                     38113 non-null  float64
 79  Highway Range (FT2)                  38113 non-null  float64
 80  Range (FT2) Clean                    38113 non-null  int64
 81  Manufacturer Code Clean              38113 non-null  object
dtypes: bool(1), float64(30), int32(1), int64(29), object(21)
memory usage: 23.4+ MB

After looking through the datatypes of each column, it looks like only **My MPG Data** and **Range (FT2)** have object/string types that should be numbers. Since I already cleaned the data in Range (FT2) and made a new column with numeric data, I can drop this column.
<br>
<br>

Now I need to inspect the contents of the My MPG Data column to see what it contains and whether it should be  modified.

In [372]:
df['My MPG Data'].unique()

array(['N', 'Y'], dtype=object)

After consulting with FuelEconomy.gov as well as inspecting the unique values in this column, I can see that this column simply denotes whether the vehicle has [My MPG Data](https://www.fueleconomy.gov/feg/ws/#ympgVehicle). Therefore, no changes are needed.

In [373]:
df = df.drop('Range (FT2)', axis = 1)

In [374]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38113 entries, 0 to 38112
Data columns (total 81 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Vehicle ID                           38113 non-null  int64
 1   Year                                 38113 non-null  int64
 2   Make                                 38113 non-null  object
 3   Model                                38113 non-null  object
 4   Class                                38113 non-null  object
 5   Drive                                38113 non-null  object
 6   Transmission                         38113 non-null  object
 7   Transmission Descriptor              38113 non-null  object
 8   Engine Index                         38113 non-null  int64
 9   Engine Descriptor                    38113 non-null  object
 10  Engine Cylinders                     38113 non-null  int32
 11  Engine Displacement                  38113 non-null  float64
 12  Turbocharger                         38113 non-null  object
 13  Supercharger                         38113 non-null  object
 14  Fuel Type                            38113 non-null  object
 15  Fuel Type 1                          38113 non-null  object
 16  Fuel Type 2                          38113 non-null  object
 17  City MPG (FT1)                       38113 non-null  int64
 18  Unrounded City MPG (FT1)             38113 non-null  float64
 19  City MPG (FT2)                       38113 non-null  int64
 20  Unrounded City MPG (FT2)             38113 non-null  float64
 21  City Gasoline Consumption (CD)       38113 non-null  float64
 22  City Electricity Consumption         38113 non-null  float64
 23  City Utility Factor                  38113 non-null  float64
 24  Highway MPG (FT1)                    38113 non-null  int64
 25  Unrounded Highway MPG (FT1)          38113 non-null  float64
 26  Highway MPG (FT2)                    38113 non-null  int64
 27  Unrounded Highway MPG (FT2)          38113 non-null  float64
 28  Highway Gasoline Consumption (CD)    38113 non-null  float64
 29  Highway Electricity Consumption      38113 non-null  float64
 30  Highway Utility Factor               38113 non-null  float64
 31  Unadjusted City MPG (FT1)            38113 non-null  float64
 32  Unadjusted Highway MPG (FT1)         38113 non-null  float64
 33  Unadjusted City MPG (FT2)            38113 non-null  float64
 34  Unadjusted Highway MPG (FT2)         38113 non-null  float64
 35  Combined MPG (FT1)                   38113 non-null  int64
 36  Unrounded Combined MPG (FT1)         38113 non-null  float64
 37  Combined MPG (FT2)                   38113 non-null  int64
 38  Unrounded Combined MPG (FT2)         38113 non-null  float64
 39  Combined Electricity Consumption     38113 non-null  float64
 40  Combined Gasoline Consumption (CD)   38113 non-null  float64
 41  Combined Utility Factor              38113 non-null  float64
 42  Annual Fuel Cost (FT1)               38113 non-null  int64
 43  Annual Fuel Cost (FT2)               38113 non-null  int64
 44  Gas Guzzler Tax                      38113 non-null  object
 45  Save or Spend (5 Year)               38113 non-null  int64
 46  Annual Consumption in Barrels (FT1)  38113 non-null  float64
 47  Annual Consumption in Barrels (FT2)  38113 non-null  float64
 48  Tailpipe CO2 (FT1)                   38113 non-null  int64
 49  Tailpipe CO2 in Grams/Mile (FT1)     38113 non-null  float64
 50  Tailpipe CO2 (FT2)                   38113 non-null  int64
 51  Tailpipe CO2 in Grams/Mile (FT2)     38113 non-null  float64
 52  Fuel Economy Score                   38113 non-null  int64
 53  GHG Score                            38113 non-null  int64
 54  GHG Score (Alt Fuel)                 38113 non-null  int64
 55  My MPG Data                          38113 non-null  object
 56  2D Passenger Volume                  38113 non-null  int64
 57  2D Luggage Volume                    38113 non-null  int64
 58  4D Passenger Volume                  38113 non-null  int64
 59  4D Luggage Volume                    38113 non-null  int64
 60  Hatchback Passenger Volume           38113 non-null  int64
 61  Hatchback Luggage Volume             38113 non-null  int64
 62  Start Stop Technology                38113 non-null  object
 63  Alternative Fuel/Technology          38113 non-null  object
 64  Electric Motor                       38113 non-null  object
 65  Gasoline/Electricity Blended (CD)    38113 non-null  bool
 66  Vehicle Charger                      38113 non-null  object
 67  Alternate Charger                    38113 non-null  object
 68  Hours to Charge (120V)               38113 non-null  int64
 69  Hours to Charge (240V)               38113 non-null  float64
 70  Hours to Charge (AC 240V)            38113 non-null  float64
 71  Composite City MPG                   38113 non-null  int64
 72  Composite Highway MPG                38113 non-null  int64
 73  Composite Combined MPG               38113 non-null  int64
 74  Range (FT1)                          38113 non-null  int64
 75  City Range (FT1)                     38113 non-null  float64
 76  Highway Range (FT1)                  38113 non-null  float64
 77  City Range (FT2)                     38113 non-null  float64
 78  Highway Range (FT2)                  38113 non-null  float64
 79  Range (FT2) Clean                    38113 non-null  int64
 80  Manufacturer Code Clean              38113 non-null  object
dtypes: bool(1), float64(30), int32(1), int64(29), object(20)
memory usage: 23.2+ MB

In [376]:
# df.to_csv('./data/fuel_eco_clean.csv', index = False, header=True, encoding='utf-8-sig')