In [9]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor

In [42]:
df  = pd.read_csv('../data/housing.csv')
tree = DecisionTreeRegressor(max_depth=4)

In [3]:
X = df.drop('PRICE', axis=1)
y = df['PRICE']

In [44]:
# start off with a NAIVE guess
guess = y.mean()

In [24]:
guess

22.532806324110698

In [45]:
gradient = y - guess

In [46]:
tree.fit(X, gradient)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=4,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [47]:
tree.predict(X)

array([  4.8944664 ,  -0.90306273,  10.21597416,  10.21597416,
        10.21597416,  -0.90306273,  -0.90306273,  -2.51197299,
        -2.51197299,  -2.51197299,  -2.51197299,  -0.90306273,
        -2.51197299,  -0.90306273,  -0.90306273,  -0.90306273,
        -0.90306273,  -6.29384529,  -0.90306273,  -0.90306273,
        -6.29384529,  -0.90306273,  -6.29384529,  -6.29384529,
        -6.29384529,  -6.29384529,  -6.29384529,  -6.29384529,
        -0.90306273,   4.8944664 ,  -6.29384529,  -0.90306273,
        -6.29384529,  -6.29384529,  -6.29384529,  -0.90306273,
        -0.90306273,  -0.90306273,  -0.90306273,   4.8944664 ,
        10.21597416,   4.8944664 ,  -0.90306273,  -0.90306273,
        -0.90306273,  -0.90306273,  -0.90306273,  -2.51197299,
        -2.51197299,  -2.51197299,  -0.90306273,  -0.90306273,
        -0.90306273,  -0.90306273,  -2.51197299,  10.21597416,
        -0.90306273,   4.8944664 ,  -0.90306273,  -0.90306273,
        -0.90306273,  -2.51197299,  -0.90306273,   4.8944664 ,
        10.21597416,  -0.90306273,  -0.90306273,  -0.90306273,
        -0.90306273,  -0.90306273,  -0.90306273,  -0.90306273,
        -0.90306273,  -0.90306273,  -0.90306273,  -0.90306273,
        -0.90306273,  -0.90306273,  -0.90306273,  -0.90306273,
         4.8944664 ,   4.8944664 ,  -0.90306273,  -0.90306273,
        -0.90306273,   4.8944664 ,  -0.90306273,  -0.90306273,
        10.21597416,  10.21597416,  -0.90306273,  -0.90306273,
        -0.90306273,  -0.90306273,  -0.90306273,   4.8944664 ,
        -0.90306273,  21.12052701,  21.12052701,  10.21597416,
         4.8944664 ,   4.8944664 ,  -0.90306273,  -0.90306273,
        -0.90306273,  -2.51197299,  -2.51197299,  -0.90306273,
        -0.90306273,  -2.51197299,  -0.90306273,   4.8944664 ,
        -6.29384529,  -6.29384529,  -0.90306273,  -6.29384529,
        -0.90306273,  -0.90306273,  -6.29384529,  -0.90306273,
        -0.90306273,  -0.90306273,  -6.29384529,  -6.29384529,
        -6.29384529,  -6.29384529,  -6.29384529,  -6.29384529,
        -6.29384529,  -6.29384529,  -0.90306273,  -0.90306273,
        -0.90306273,  -6.29384529,  -6.29384529,  -6.29384529,
        -6.29384529,  -6.29384529,  -6.29384529,  -6.29384529,
        -6.29384529,  -6.29384529,  -6.29384529,  -6.29384529,
        -6.29384529,  -6.29384529,  -6.29384529,  -6.29384529,
        -6.29384529,  -6.29384529,  -0.90306273,  -0.90306273,
        -0.90306273,  -6.29384529,  -6.29384529,  -6.29384529,
        -6.29384529,  23.11719368,  -0.90306273,  -0.90306273,
        -0.90306273,  25.76719368,  25.76719368,  25.76719368,
        -0.90306273,  -0.90306273,  25.76719368,  -0.90306273,
        -0.90306273,  -0.90306273,  -6.29384529,  -0.90306273,
        -2.51197299,  -0.90306273,  -0.90306273,   4.8944664 ,
        -0.90306273,  -0.90306273,   4.8944664 ,  10.21597416,
        21.12052701,  -0.90306273,  10.21597416,   4.8944664 ,
        -0.90306273,  -0.90306273,  21.12052701,   4.8944664 ,
         4.8944664 ,  10.21597416,  10.21597416,   4.8944664 ,
        10.21597416,   4.8944664 ,   4.8944664 ,  25.76719368,
        10.21597416,  10.21597416,  10.21597416,  10.21597416,
        10.21597416,  -0.90306273,  25.76719368,  25.76719368,
        25.76719368,  -0.90306273,  -0.90306273,  -2.51197299,
        -2.51197299,  -2.51197299,  -2.51197299,  -2.51197299,
        -2.51197299,  -0.90306273,  -2.51197299,  -0.90306273,
        -0.90306273,   4.8944664 ,  -6.29384529,  -0.90306273,
        10.21597416,  -2.51197299,   4.8944664 ,   4.8944664 ,
        21.12052701,  21.12052701,  21.12052701,  10.21597416,
        21.12052701,   4.8944664 ,  -0.90306273,  10.21597416,
        21.12052701,  21.12052701,   4.8944664 ,  -0.90306273,
         4.8944664 ,  10.21597416,  -0.90306273,   4.8944664 ,
         4.8944664 ,  -0.90306273,  -0.90306273,  -0.90306273,
        -0.90306273,  -2.51197299,  -0.90306273,  -0.90306273,
        -0.90306273,   4.8944664 ,  -0.90306273,  -0.90306273,
        10.21597416,  21.12052701,  -0.90306273,  -0.90306273,
        21.12052701,  25.76719368,  10.21597416,   4.8944664 ,
        10.21597416,  25.76719368,  25.76719368,  10.21597416,
        10.21597416,  -0.90306273,  10.21597416,  25.76719368,
        25.76719368,  -0.90306273,  -0.90306273,  -0.90306273,
        -0.90306273,  21.12052701,   4.8944664 ,   4.8944664 ,
        10.21597416,   4.8944664 ,  -0.90306273,   4.8944664 ,
        21.12052701,  10.21597416,  21.12052701,  25.76719368,
        10.21597416,  -0.90306273,  -0.90306273,  -0.90306273,
        -0.90306273,   4.8944664 ,   4.8944664 ,  10.21597416,
         4.8944664 ,  -0.90306273,  -0.90306273,   4.8944664 ,
         4.8944664 ,  -2.51197299,  -0.90306273,  10.21597416,
         4.8944664 ,   4.8944664 ,  -0.90306273,  10.21597416,
        10.21597416,   4.8944664 ,  10.21597416,   4.8944664 ,
         4.8944664 ,  -0.90306273,  -0.90306273,  -0.90306273,
        -0.90306273,  -0.90306273,   4.8944664 ,  -0.90306273,
        -6.29384529,  -6.29384529,  -0.90306273,  -0.90306273,
        -0.90306273,  -0.90306273,  -0.90306273,  -0.90306273,
        -0.90306273,  -0.90306273,  -0.90306273,  -0.90306273,
        -0.90306273,  -0.90306273,  -0.90306273,  -0.90306273,
        -0.90306273,  -0.90306273,  -0.90306273,  -0.90306273,
        -0.90306273,  -0.90306273,  -0.90306273,  -0.90306273,
        -0.90306273,  10.21597416,  -0.90306273,   4.8944664 ,
         4.8944664 ,  -0.90306273,  -0.90306273,  -0.90306273,
         4.8944664 ,   4.8944664 ,  -0.90306273,   4.8944664 ,
        -0.90306273,   4.8944664 ,  -0.90306273,  -0.90306273,
       -11.45538697,  -0.90306273,  -0.90306273,  -0.90306273,
        -0.90306273,  -0.90306273,  -0.90306273,  -6.29384529,
        -0.63280632,  -0.90306273,  -0.90306273,  -0.90306273,
        27.46719368,  27.46719368,  23.11719368,  27.46719368,
        27.46719368, -11.45538697, -11.45538697,  -6.13280632,
       -11.45538697, -11.45538697, -11.45538697, -11.45538697,
       -12.13280632, -11.45538697, -11.45538697, -11.45538697,
       -11.45538697, -11.45538697, -11.45538697, -11.45538697,
       -11.45538697, -11.45538697,  -6.29384529,  -6.29384529,
       -11.45538697, -11.45538697, -11.45538697, -11.45538697,
        -6.29384529, -11.45538697, -11.45538697, -11.45538697,
       -11.45538697, -11.45538697, -11.45538697, -11.45538697,
       -11.45538697, -11.45538697, -11.45538697,   5.36719368,
        -5.89947299,  -5.89947299,  -0.90306273,  -5.89947299,
        -5.89947299,  -5.89947299, -11.45538697, -11.45538697,
       -11.45538697, -11.45538697, -11.45538697, -11.45538697,
       -11.45538697, -11.45538697,  -0.90306273, -11.45538697,
        -5.89947299, -11.45538697,  -5.89947299, -11.45538697,
       -11.45538697, -11.45538697,  -5.89947299,  -5.89947299,
        -0.90306273,  -6.29384529, -11.45538697, -11.45538697,
       -11.45538697, -11.45538697, -11.45538697, -11.45538697,
       -11.45538697, -11.45538697,  -6.29384529, -11.45538697,
       -11.45538697, -11.45538697,  -6.29384529, -11.45538697,
       -11.45538697, -11.45538697,  -6.29384529,  -6.29384529,
        -6.29384529,  -6.13280632, -11.45538697,  -6.29384529,
        -6.29384529, -11.45538697, -11.45538697,  -6.29384529,
        -6.29384529,  -6.29384529,  -0.90306273,  -0.90306273,
        -0.90306273,  -0.90306273,  -6.29384529,  -6.29384529,
        -5.89947299,  -5.89947299,  -6.29384529,  -0.90306273,
        -0.90306273,  10.21597416,  -5.89947299,  -6.29384529,
        -6.29384529, -11.45538697, -11.45538697,  -0.90306273,
        -0.90306273,   4.8944664 ,  10.21597416,  -0.90306273,
        -0.90306273,  -0.90306273,  -6.29384529,  -0.90306273,
        -6.29384529,  -6.29384529,  -6.29384529,  -6.29384529,
        -0.90306273,  -0.90306273,  -0.90306273,  -6.29384529,
        -6.29384529,  -0.90306273,  -0.90306273,  -6.29384529,
        -0.90306273,   4.8944664 ,  -0.90306273,  10.21597416,
         4.8944664 ,  -0.90306273])

In [15]:
guess

22.532806324110698

y = guess + error

In [48]:
learning_rate = .1

In [49]:
# guess AFTER boosting
guess += tree.predict(X)*learning_rate

In [35]:
y[:10]

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
5    28.7
6    22.9
7    27.1
8    16.5
9    18.9
Name: PRICE, dtype: float64

In [41]:
guess[:10]

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9])

In [43]:
guess

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])

In [51]:
df = pd.read_csv('../data/restaurants/csv')

FileNotFoundError: [Errno 2] File ../data/restaurants/csv does not exist: '../data/restaurants/csv'

In [52]:
pwd

'C:\\Users\\Jonat\\DAT-10-19\\ClassMaterial\\Unit3\\Class12'

In [53]:
cd ..

C:\Users\Jonat\DAT-10-19\ClassMaterial\Unit3

In [54]:
pwd

'C:\\Users\\Jonat\\DAT-10-19\\ClassMaterial\\Unit3'

In [55]:
cd data

C:\Users\Jonat\DAT-10-19\ClassMaterial\Unit3\data

In [56]:
ls

 Volume in drive C is OS
 Volume Serial Number is 0499-EE93

 Directory of C:\Users\Jonat\DAT-10-19\ClassMaterial\Unit3\data

12/01/2020  04:12 PM    <DIR>          .
12/01/2020  04:12 PM    <DIR>          ..
11/30/2020  06:15 PM            54,045 Boston Housing Summary.pdf
06/10/2019  02:08 AM            35,203 housing.csv
11/02/2020  01:12 PM        33,609,038 restaurants.csv
               3 File(s)     33,698,286 bytes
               2 Dir(s)  709,561,556,992 bytes free

In [57]:
df = pd.read_csv('restaurants.csv', parse_dates=['visit_date'])

In [59]:
df.isnull().sum()

id                       0
visit_date               0
visitors                 0
calendar_date            0
day_of_week              0
holiday                  0
genre                    0
area                     0
latitude                 0
longitude                0
reserve_visitors    143714
dtype: int64

In [60]:
def denote_null_values(df):
    empty_cols_query = df.isnull().sum() > 0
    empty_df_cols = df.loc[:, empty_cols_query].columns.tolist()
    for col in empty_df_cols:
        col_name = f"{col}_missing"
        df[col_name] = pd.isnull(df[col])
    return df

In [61]:
denote_null_values(df)

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors,reserve_visitors_missing
0,air_ba937bf13d40fb24,2016-01-13,25,2016-01-13,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
1,air_ba937bf13d40fb24,2016-01-14,32,2016-01-14,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
2,air_ba937bf13d40fb24,2016-01-15,29,2016-01-15,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
3,air_ba937bf13d40fb24,2016-01-16,22,2016-01-16,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
4,air_ba937bf13d40fb24,2016-01-18,6,2016-01-18,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...
252103,air_a17f0778617c76e2,2017-04-21,49,2017-04-21,Friday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,6.0,False
252104,air_a17f0778617c76e2,2017-04-22,60,2017-04-22,Saturday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,37.0,False
252105,air_a17f0778617c76e2,2017-03-26,69,2017-03-26,Sunday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,35.0,False
252106,air_a17f0778617c76e2,2017-03-20,31,2017-03-20,Monday,1,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,3.0,False
252107,air_a17f0778617c76e2,2017-04-09,26,2017-04-09,Sunday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,32.0,False

In [63]:
df['reserve_visitors'].fillna(df['reserve_visitors'].mean())

0         16.699808
1         16.699808
2         16.699808
3         16.699808
4         16.699808
            ...
252103     6.000000
252104    37.000000
252105    35.000000
252106     3.000000
252107    32.000000
Name: reserve_visitors, Length: 252108, dtype: float64

In [66]:
filled = df[~df['reserve_visitors'].isnull()]
missing = df[df['reserve_visitors'].isnull()]

In [68]:
missing

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors,reserve_visitors_missing
0,air_ba937bf13d40fb24,2016-01-13,25,2016-01-13,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
1,air_ba937bf13d40fb24,2016-01-14,32,2016-01-14,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
2,air_ba937bf13d40fb24,2016-01-15,29,2016-01-15,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
3,air_ba937bf13d40fb24,2016-01-16,22,2016-01-16,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
4,air_ba937bf13d40fb24,2016-01-18,6,2016-01-18,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...
252087,air_a17f0778617c76e2,2017-04-04,10,2017-04-04,Tuesday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN,True
252092,air_a17f0778617c76e2,2017-04-10,28,2017-04-10,Monday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN,True
252099,air_a17f0778617c76e2,2017-04-17,19,2017-04-17,Monday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN,True
252100,air_a17f0778617c76e2,2017-04-18,11,2017-04-18,Tuesday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN,True
252101,air_a17f0778617c76e2,2017-04-19,25,2017-04-19,Wednesday,0,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,NaN,True

In [70]:
X = filled[['visitors', 'holiday', 'latitude', 'longitude']]
y = filled['reserve_visitors']

In [71]:
gbm = GradientBoostingRegressor()

In [72]:
gbm.fit(X, y)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [74]:
gbm.predict(missing[['visitors', 'holiday', 'latitude', 'longitude']])

array([15.86261708, 16.07787226, 15.86261708, ..., 16.40184107,
       16.25422672, 16.94692842])

In [75]:
df.head()

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors,reserve_visitors_missing
0,air_ba937bf13d40fb24,2016-01-13,25,2016-01-13,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
1,air_ba937bf13d40fb24,2016-01-14,32,2016-01-14,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
2,air_ba937bf13d40fb24,2016-01-15,29,2016-01-15,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
3,air_ba937bf13d40fb24,2016-01-16,22,2016-01-16,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
4,air_ba937bf13d40fb24,2016-01-18,6,2016-01-18,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True

In [81]:
import category_encoders as ce
encoder = ce.OrdinalEncoder(cols=['id', 'genre', 'day_of_week'])
# and use the fit_transform() method
encoder.fit_transform(df)

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors,reserve_visitors_missing
0,1,2016-01-13,25,2016-01-13,1,0,1,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
1,1,2016-01-14,32,2016-01-14,2,0,1,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
2,1,2016-01-15,29,2016-01-15,3,0,1,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
3,1,2016-01-16,22,2016-01-16,4,0,1,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
4,1,2016-01-18,6,2016-01-18,5,0,1,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...
252103,829,2017-04-21,49,2017-04-21,3,0,4,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,6.0,False
252104,829,2017-04-22,60,2017-04-22,4,0,4,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,37.0,False
252105,829,2017-03-26,69,2017-03-26,7,0,4,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,35.0,False
252106,829,2017-03-20,31,2017-03-20,5,1,4,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,3.0,False
252107,829,2017-04-09,26,2017-04-09,7,0,4,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,32.0,False

In [79]:
encoder.mapping

[{'col': 'id',
  'mapping': air_ba937bf13d40fb24      1
  air_25e9888d30b386df      2
  air_fd6aac1043520e83      3
  air_64d4491ad8cdb1c6      4
  air_ee3a01f0c71a769f      5
                         ...
  air_cf5ab75a0afb8af9    826
  air_1c0b150f9e696a5f    827
  air_900d755ebd2f7bbd    828
  air_a17f0778617c76e2    829
  NaN                      -2
  Length: 830, dtype: int64,
  'data_type': dtype('O')},
 {'col': 'calendar_date',
  'mapping': 2016-01-13      1
  2016-01-14      2
  2016-01-15      3
  2016-01-16      4
  2016-01-18      5
               ...
  2016-01-01    475
  2016-01-03    476
  2017-01-02    477
  2016-01-02    478
  NaN            -2
  Length: 479, dtype: int64,
  'data_type': dtype('O')},
 {'col': 'day_of_week',
  'mapping': Wednesday    1
  Thursday     2
  Friday       3
  Saturday     4
  Monday       5
  Tuesday      6
  Sunday       7
  NaN         -2
  dtype: int64,
  'data_type': dtype('O')},
 {'col': 'genre',
  'mapping': Dining bar                       1
  Izakaya                          2
  Cafe/Sweets                      3
  Italian/French                   4
  Other                            5
  Yakiniku/Korean food             6
  Japanese food                    7
  Okonomiyaki/Monja/Teppanyaki     8
  Bar/Cocktail                     9
  Creative cuisine                10
  Western food                    11
  Asian                           12
  International cuisine           13
  Karaoke/Party                   14
  NaN                             -2
  dtype: int64,
  'data_type': dtype('O')},
 {'col': 'area',
  'mapping': Tōkyō-to Minato-ku Shibakōen                   1
  Tōkyō-to Shinagawa-ku Higashigotanda           2
  Shizuoka-ken Hamamatsu-shi Motoshirochō        3
  Fukuoka-ken Fukuoka-shi Daimyō                 4
  Hyōgo-ken Kōbe-shi Sumiyoshi Higashimachi      5
                                              ...
  Tōkyō-to Meguro-ku Jiyūgaoka                 100
  Fukuoka-ken Fukuoka-shi Imaizumi             101
  Tōkyō-to Shibuya-ku Higashi                  102
  Tōkyō-to Setagaya-ku Kitazawa                103
  NaN                                           -2
  Length: 104, dtype: int64,
  'data_type': dtype('O')}]

In [85]:
ohe = ce.OneHotEncoder(use_cat_names=True)
ohe.fit_transform(df['id'])

,id_air_ba937bf13d40fb24,id_air_25e9888d30b386df,id_air_fd6aac1043520e83,id_air_64d4491ad8cdb1c6,id_air_ee3a01f0c71a769f,id_air_9438d67241c81314,id_air_d0e8a085d8dc83aa,id_air_5c65468938c07fa5,id_air_9fc607777ad76b26,id_air_326ca454ef3558bc,...,id_air_8110d68cc869b85e,id_air_9c6787aa03a45586,id_air_28dbe91c4c9656be,id_air_6b65745d432fd77f,id_air_8e8f42f047537154,id_air_bb4ff06cd661ee9b,id_air_cf5ab75a0afb8af9,id_air_1c0b150f9e696a5f,id_air_900d755ebd2f7bbd,id_air_a17f0778617c76e2
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252103,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
252104,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
252105,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
252106,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
252107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [86]:
df.id.value_counts()

air_5c817ef28f236bdf    477
air_a083834e7ffe187e    476
air_d97dabf7aae60da5    476
air_36bcf77d3382d36e    476
air_232dcee6f7c51d37    475
                       ...
air_1c0b150f9e696a5f     51
air_a17f0778617c76e2     47
air_789103bf53b8096b     41
air_a9a380530c1e121f     40
air_900d755ebd2f7bbd     20
Name: id, Length: 829, dtype: int64

In [87]:
te = ce.TargetEncoder()

X = df.drop('visitors', axis=1)
y = df['visitors']

te.fit_transform(X, y)

,id,visit_date,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors,reserve_visitors_missing
0,22.782609,2016-01-13,18.433460,19.230121,0,18.723532,19.609418,35.658068,139.751599,NaN,True
1,22.782609,2016-01-14,19.229927,18.922702,0,18.723532,19.609418,35.658068,139.751599,NaN,True
2,22.782609,2016-01-15,23.506897,23.072737,0,18.723532,19.609418,35.658068,139.751599,NaN,True
3,22.782609,2016-01-16,26.780142,26.313688,0,18.723532,19.609418,35.658068,139.751599,NaN,True
4,22.782609,2016-01-18,14.486726,17.177009,0,18.723532,19.609418,35.658068,139.751599,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...
252103,44.595745,2017-04-21,25.030612,23.072737,0,22.582953,20.466463,34.695124,135.197852,6.0,False
252104,44.595745,2017-04-22,27.448320,26.313688,0,22.582953,20.466463,34.695124,135.197852,37.0,False
252105,44.595745,2017-03-26,24.098333,23.873362,0,22.582953,20.466463,34.695124,135.197852,35.0,False
252106,44.595745,2017-03-20,24.043400,17.177009,1,22.582953,20.466463,34.695124,135.197852,3.0,False
252107,44.595745,2017-04-09,23.018550,23.873362,0,22.582953,20.466463,34.695124,135.197852,32.0,False

In [88]:
df.groupby('day_of_week')['visitors'].mean()

day_of_week
Friday       23.072737
Monday       17.177009
Saturday     26.313688
Sunday       23.873362
Thursday     18.922702
Tuesday      17.672137
Wednesday    19.230121
Name: visitors, dtype: float64

In [92]:
te = ce.TargetEncoder(min_samples_leaf=20)
transformed = te.fit_transform(X, y)
# and look up the value for air_900d755ebd2f7bbd -- the restaurant with the lowest attendance value
transformed.id.value_counts()

15.288732     568
37.754717     477
27.325630     476
37.754202     476
31.777311     476
             ...
115.470588     51
44.595745      47
55.243902      41
44.875000      40
51.586881      20
Name: id, Length: 828, dtype: int64

In [94]:
from sklearn.pipeline import make_pipeline

pipe = make_pipeline(ce.TargetEncoder(), GradientBoostingRegressor())

In [101]:
df = df.fillna(0)

In [102]:
train = df.groupby('id').apply(lambda x: x.iloc[:-15])
test  = df.groupby('id').apply(lambda x: x.iloc[-15:])

In [105]:
train.drop('visit_date', axis=1, inplace=True)
test.drop('visit_date', axis=1, inplace=True)

In [106]:
X_train, y_train = train.drop('visitors', axis=1), train['visitors']
X_test, y_test  = test.drop('visitors', axis=1), test['visitors']

In [124]:
pipe.fit(X_train, y_train)[1]

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [108]:
pipe.score(X_test, y_test)

0.39051965255921695